---
import Layout from 'src/layout/Layout.astro';
const rawHTMLString = `<div class="bg-[#312d4b] p-4 rounded shadow-xl border-purple-500/20 hover:border-purple-500 border-1 md:col-span-2 md:row-span-2">Content:: {{content}} </div> <div class="bg-[#312d4b] p-4 rounded shadow-xl border-purple-500/20 hover:border-purple-500 border-1 md:col-span-2 md:row-span-2"> Path:: {{path }} </div>`;
---

<Layout title="{% block title %}{% endblock %}" description="{% block description %}{% endblock %}">
    <div class="flex h-screen min-h-0 overflow-hidden">
        <div
			class="flex-1 flex flex-col w-full min-h-0 transition-all duration-200 ease-in-out">
			<!-- Header with toggle -->
			<header
				class="p-4 bg-gray-800 shadow flex items-center justify-between md:justify-start">
				<h2 class="text-2xl font-semibold text-purple-400">
					Welcome back, Commander
				</h2>
			</header>
            <main
				class="p-6 overflow-y-auto flex-1 perspective-[1000px] perspective-origin-center">
				<div
					class="grid gap-6 grid-cols-1 md:grid-cols-3 auto-rows-auto grid-flow-dense">
                    <Fragment set:html={rawHTMLString} />
                </div>
                </main>
            </div>
    </div>

</Layout>