---
/** @jsxImportSource astro */
interface Props {
  children: any;
}
import Layout from 'src/layout/Layout.astro';
const { children } = Astro.props;
---
<Layout title="Test" description="test">
<div x-data="{ open: true }" class="bg-red-500">
    Hello Alpine, {children}
</div>
  </Layout>