---
import Layout from 'src/layout/Layout.astro';
import SvelteWebsockets from 'src/layout/svelte/websocket/SvelteWebsockets.astro';
---

<Layout title="Websockets" description="WebSocket Testing">
  <div class="p-4 space-y-4">
    <SvelteWebsockets />  
  </div>
</Layout>
