---
import { AstroVe as VE } from '@kbve/astro-ve';
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 Not Found." description="404 Not Found.">
	4 0 4
	<div class="flex object-contain w-32 md:w-32">
		<dotlottie-player
			autoplay
			loop
			mode="normal"
			src="/assets/lottie/robot.lottie"></dotlottie-player>
	</div>
</Layout>
