---
import { AstroVe as VE } from '@kbve/astro-ve';
import Layout from '../layouts/Layout.astro';

// TW1 - class="h-full w-full items-start justify-start rounded-tl flex flex-wrap gap-4 overflow-y-scroll content-start p-3 ">


import { getCollection, getEntry } from 'astro:content';

const pages = [
	{
		name: 'Applications',
		description: 'Guides, Tutorials, and Useful Tidbits concerning a wide variety of cutting-edge Applications.',
		url: '/application',
		img: 'https://images.unsplash.com/photo-1518770660439-4636190af475?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
	},
	{
		name: 'Journal',
		description: 'Just keeping the pen flowing, supposed to be great for your mental health. Here\'s mine.',
		url: '/journal',
		img: 'https://images.unsplash.com/photo-1483546363825-7ebf25fb7513?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
	},
	{
		name: 'Arcade',
		description: 'Games we made, imported, absorbed, or otherwise enjoy.',
		url: '/arcade',
		img: 'https://images.unsplash.com/photo-1511882150382-421056c89033?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
	},
	{
		name: 'Comic',
		description: 'A special person made this art. Beautiful.',
		url: '/comic/dnd/barspaghetti',
		img: 'https://images.unsplash.com/photo-1569701813229-33284b643e3c?q=80&w=1514&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
	},
	{
		name: 'WASM Thing',
		description: 'Imported an egui project. Not much now, but could be real useful soon...',
		url: '/tools/wasm',
		img: 'https://images.unsplash.com/photo-1550751827-4bd374c3f58b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
	}
]
---

<Layout title="Welcome to KBVE." description="Welcome to KBVE!">
		
		<VE widget="card:dashboard:hero" id="hero-1" img="https://images.unsplash.com/photo-1502134249126-9f3755a50d78?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3"/>
		<div class="flex flex-col w-xl gap-2">
			{pages.map((page) => 
				<VE
					widget="card:dashboard:post"
					id={page.name}
					href={page.url}
					description={page.description}
					img={page.img}
				/>
			)}
		</div>
		<!-- <VE widget="card:dashboard:post" id="test" href="https://kbve.com/" description="This is an exmaple of passing a description to the box."/>
		<VE widget="card:dashboard:post" id="test-2"  href="https://kbve.com/" />
		<VE widget="card:dashboard:post" id="test-of-3"  href="https://kbve.com/" />
		<VE widget="card:dashboard:post" id="test-within-the-4th"  href="https://kbve.com/" />
		<VE widget="card:dashboard:post" id="test-of-the-5th"  href="https://kbve.com/" /> -->




	<style>
		/* main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	} */

		.astro-a {
			position: absolute;
			top: -32px;
			left: 50%;
			transform: translatex(-50%);
			width: 220px;
			height: auto;
			z-index: -1;
		}

		h1 {
			font-size: 4rem;
			font-weight: 700;
			line-height: 1;
			text-align: center;
			margin-bottom: 1em;
		}

		.text-gradient {
			background-image: var(--accent-gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-size: 400%;
			background-position: 0%;
		}

		.instructions {
			margin-bottom: 2rem;
			border: 1px solid rgba(var(--accent-light), 25%);
			background: linear-gradient(
				rgba(var(--accent-dark), 66%),
				rgba(var(--accent-dark), 33%)
			);
			padding: 1.5rem;
			border-radius: 8px;
		}

		.instructions code {
			font-size: 0.8em;
			font-weight: bold;
			background: rgba(var(--accent-light), 12%);
			color: rgb(var(--accent-light));
			border-radius: 4px;
			padding: 0.3em 0.4em;
		}

		.instructions strong {
			color: rgb(var(--accent-light));
		}

		.link-card-grid {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
			gap: 2rem;
			padding: 0;
		}
	</style>
</Layout>
