---
import { AstroVe as VE } from '@kbve/astro-ve';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to KBVE." description="Welcome to KBVE!">
	<div
		class="h-full w-full items-start justify-start rounded-tl flex flex-wrap gap-4 overflow-y-scroll ">
		<section
			class="flex-auto max-w-sm p-6 bg-zinc-950 border border-gray-200 rounded-lg shadow">
			<a href="#">
				<h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
					Noteworthy technology acquisitions 2021
				</h5>
			</a>
			<p class="mb-3 font-normal text-gray-200">
				Here are the biggest enterprise technology acquisitions of 2021
				so far, in reverse chronological order.
			</p>
			<a
				href="#"
				class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
				Read more
				<svg
					class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 14 10">
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M1 5h12m0 0L9 1m4 4L9 9">
					</path>
				</svg>
			</a>
		</section>

		<section
			class="flex-auto max-w-sm p-6 bg-zinc-950 border border-gray-200 rounded-lg shadow">
			<a href="#">
				<h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
					Noteworthy technology acquisitions 2021
				</h5>
			</a>
			<p class="mb-3 font-normal text-gray-200">
				Here are the biggest enterprise technology acquisitions of 2021
				so far, in reverse chronological order.
			</p>
			<a
				href="#"
				class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
				Read more
				<svg
					class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 14 10">
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M1 5h12m0 0L9 1m4 4L9 9">
					</path>
				</svg>
			</a>
		</section>

		<section
			class="max-w-sm p-6 bg-zinc-950 border border-gray-200 rounded-lg shadow">
			<a href="#">
				<h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
					Noteworthy technology acquisitions 2021
				</h5>
			</a>
			<p class="mb-3 font-normal text-gray-200">
				Here are the biggest enterprise technology acquisitions of 2021
				so far, in reverse chronological order.
			</p>
			<a
				href="#"
				class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
				Read more
				<svg
					class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 14 10">
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M1 5h12m0 0L9 1m4 4L9 9">
					</path>
				</svg>
			</a>
		</section>

		<section
			class="max-w-sm p-6 bg-zinc-950 border border-gray-200 rounded-lg shadow">
			<a href="#">
				<h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
					Noteworthy technology acquisitions 2021
				</h5>
			</a>
			<p class="mb-3 font-normal text-gray-200">
				Here are the biggest enterprise technology acquisitions of 2021
				so far, in reverse chronological order.
			</p>
			<a
				href="#"
				class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
				Read more
				<svg
					class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 14 10">
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M1 5h12m0 0L9 1m4 4L9 9">
					</path>
				</svg>
			</a>
		</section>

		<section
			class="max-w-sm p-6 bg-zinc-950 border border-gray-200 rounded-lg shadow">
			<a href="#">
				<h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
					Noteworthy technology acquisitions 2021
				</h5>
			</a>
			<p class="mb-3 font-normal text-gray-200">
				Here are the biggest enterprise technology acquisitions of 2021
				so far, in reverse chronological order.
			</p>
			<a
				href="#"
				class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
				Read more
				<svg
					class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 14 10">
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M1 5h12m0 0L9 1m4 4L9 9">
					</path>
				</svg>
			</a>
		</section>

		<section
			class="max-w-sm p-6 bg-zinc-950 border border-gray-200 rounded-lg shadow">
			<a href="#">
				<h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
					Noteworthy technology acquisitions 2021
				</h5>
			</a>
			<p class="mb-3 font-normal text-gray-200">
				Here are the biggest enterprise technology acquisitions of 2021
				so far, in reverse chronological order.
			</p>
			<a
				href="#"
				class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
				Read more
				<svg
					class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 14 10">
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M1 5h12m0 0L9 1m4 4L9 9">
					</path>
				</svg>
			</a>
		</section>
	</div>

	<style>
		/* main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	} */

		.astro-a {
			position: absolute;
			top: -32px;
			left: 50%;
			transform: translatex(-50%);
			width: 220px;
			height: auto;
			z-index: -1;
		}

		h1 {
			font-size: 4rem;
			font-weight: 700;
			line-height: 1;
			text-align: center;
			margin-bottom: 1em;
		}

		.text-gradient {
			background-image: var(--accent-gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-size: 400%;
			background-position: 0%;
		}

		.instructions {
			margin-bottom: 2rem;
			border: 1px solid rgba(var(--accent-light), 25%);
			background: linear-gradient(
				rgba(var(--accent-dark), 66%),
				rgba(var(--accent-dark), 33%)
			);
			padding: 1.5rem;
			border-radius: 8px;
		}

		.instructions code {
			font-size: 0.8em;
			font-weight: bold;
			background: rgba(var(--accent-light), 12%);
			color: rgb(var(--accent-light));
			border-radius: 4px;
			padding: 0.3em 0.4em;
		}

		.instructions strong {
			color: rgb(var(--accent-light));
		}

		.link-card-grid {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
			gap: 2rem;
			padding: 0;
		}
	</style>
</Layout>
