---
import MainLayout from '../layouts/MainLayout.astro';
import { SITE } from '../data_files/constants';
import RegisterForm from '../components/ui/forms/RegisterForm.svelte';

const pageTitle: string = `Register | ${SITE.title}`;
const pageDescription: string = `Register | KBVE.com`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    '@context': 'https://schema.org',
    '@type': 'WebPage',
    '@id': 'https://kbve.com/register/',
    url: 'https://kbve.com/register/',
    name: `${pageTitle}`,
    description: `${pageDescription}`,
    isPartOf: {
      '@type': 'WebSite',
      url: 'https://kbve.com',
      name: 'Kilo Byte Virtual Engine',
      description:
        'Elevate your efficiency with KBVE, Kilobyte Virtual Engine! Discover cutting-edge software and automation solutions designed to streamline and enhance your projects. Let’s innovate together!',
    },
    inLanguage: 'en-US',
  }}
>
  <div class="py-16">
    <div
      class="px-16 flex flex-column justify-between items-center lg:flex-row"
    >
      <div>
        <h3 class="page-subtitle mb-1">Sign up</h3>
        <h1 class="page-title text-white font-bold text-5xl mb-5">
          KBVE Authentication Portal
        </h1>
        <RegisterForm client:only="svelte" />
      </div>
      <img class="register-img" src="/assets/auth-img.png" />
    </div>
  </div>
</MainLayout>

<style>
  .page-subtitle {
    color: #06b6d4;
  }

  .register-img {
    height: 30rem;
    width: 30rem;

    border-radius: 1000px;
  }
</style>
