---
import MainLayout from '../layouts/MainLayout.astro';
import { SITE } from '../data_files/constants';
import ReactProfile from '../components/kilobase/profile/ReachProfile';

const pageTitle: string = `Profile | ${SITE.title}`;
const pageDescription: string = `Profile | KBVE.com`;
---

<MainLayout
	title={pageTitle}
	structuredData={{
		'@context': 'https://schema.org',
		'@type': 'WebPage',
		'@id': 'https://kbve.com/profile/',
		url: 'https://kbve.com/profile/',
		name: `${pageTitle}`,
		description: `{${pageDescription}}`,
		isPartOf: {
			'@type': 'WebSite',
			url: 'https://kbve.com',
			name: 'Kilo Byte Virtual Engine',
			description:
				'Elevate your efficiency with KBVE, Kilobyte Virtual Engine! Discover cutting-edge software and automation solutions designed to streamline and enhance your projects. Let’s innovate together!',
		},
		inLanguage: 'en-US',
	}}>
	<div class="relative min-h-screen">
		<div
			class="absolute inset-0 flex justify-center items-center min-h-screen transition-opacity duration-500"
			id="skeleton_profile_loader">
			<div
				class="w-16 h-16 border-4 border-dashed rounded-full animate-spin border-cyan-500 dark:border-cyan-400">
			</div>
		</div>

        <style>
            /* Define the keyframes for the fade-in effect */
            @keyframes fadeIn {
              0% {
                opacity: 0;
                transform: translateY(20px); /* Optional: Start with a slight downward movement */
              }
              100% {
                opacity: 1;
                transform: translateY(0); /* End with no movement */
              }
            }
          
            /* Apply the fade-in effect to the profile container */
            #user_profile {
              opacity: 0; /* Start invisible */
              animation: fadeIn 1s ease-in-out forwards; /* Use the fadeIn keyframe animation */
            }
          </style>
		<div class="relative z-10" id="user_profile">
			<ReactProfile client:only="react" />
		</div>
	</div>
</MainLayout>
