---
import type { ComponentProps } from 'react';
import CtaIsland from './CtaIsland';
type Props = ComponentProps<typeof CtaIsland>;
const props = Astro.props;
---

<div class="not-content">
	<CtaIsland client:only="react" {...props} />
</div>
