---
import type { ComponentProps } from 'react';
import { FaqAccordion } from '@kbve/rn-astro';
type Props = ComponentProps<typeof FaqAccordion>;
const props = Astro.props;
---

<div class="not-content">
	<FaqAccordion client:only="react" {...props} />
</div>
