---
import type { ComponentProps } from 'react';
import { FeatureGrid } from '@kbve/rn-astro';
type Props = ComponentProps<typeof FeatureGrid>;
const props = Astro.props;
---

<div class="not-content">
	<FeatureGrid client:only="react" {...props} />
</div>
