---
import type { ComponentProps } from 'react';
import { LogoCloud } from '@kbve/rn-astro';
type Props = ComponentProps<typeof LogoCloud>;
const props = Astro.props;
---

<div class="not-content">
	<LogoCloud client:only="react" {...props} />
</div>
