---
import type { ComponentProps } from 'react';
import ProjectGridIsland from './ProjectGridIsland';
type Props = ComponentProps<typeof ProjectGridIsland>;
const props = Astro.props;
---

<div class="not-content">
	<ProjectGridIsland client:only="react" {...props} />
</div>
