---
import type { ComponentProps } from 'react';
import { StatStrip } from '@kbve/rn-astro';
type Props = ComponentProps<typeof StatStrip>;
const props = Astro.props;
---

<div class="not-content">
	<StatStrip client:only="react" {...props} />
</div>
