---
import type { ComponentProps } from 'react';
import { Testimonials } from '@kbve/rn-astro';
type Props = ComponentProps<typeof Testimonials>;
const props = Astro.props;
---

<div class="not-content">
	<Testimonials client:only="react" {...props} />
</div>
