[submodule "apps/postgres"]
	path = apps/postgres
	url = https://github.com/kbve/postgres.git
	branch = develop
[submodule "apps/mc/pumpkin"]
	path = apps/mc/pumpkin
	url = https://github.com/KBVE/Pumpkin
