[submodule "apps/postgres"]
	path = apps/postgres
	url = https://github.com/kbve/postgres.git
	branch = develop
[submodule "apps/irc/ergo"]
	path = apps/irc/ergo
	url = https://github.com/kbve/ergo
[submodule "apps/mc/pumpkin"]
	path = apps/mc/pumpkin
	url = https://github.com/Pumpkin-MC/Pumpkin
