# See http://help.github.com/ignore-files/ for more about ignoring files.

# 11-15-2023 9:19am - Ignore all __pycache__
**/__pycache__/
# 11-15-2023 - Ignore all .coverage
**/.coverage
# 11-15-2023 - Unit Test Ignores
**/unittests/
# 11-14-2023 - Ignoring .cache folder
**/.cache/


# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.astro

.nx/cache
apps/api/.env
.env
apps/saber/.vsconfig
apps/saber/ProjectSettings/ShaderGraphSettings.asset
apps/saber/Assets/Polytope Studio/Lowpoly_Environments/SRP/PT_Nature_Free_URP_10.10.1.unitypackage.meta
apps/saber/Assets/Polytope Studio/Lowpoly_Environments/SRP/PT_Nature_Free_URP_12.1.10.unitypackage.meta
