
[workspace]
resolver = '2'
members = [
	'packages/rust/kbve',
	'packages/rust/erust',
	'packages/rust/holy',
	'packages/rust/jedi',
	'apps/kbve/kilobase',
	'apps/rareicon/rust_rareicon_gameserver',
	'apps/rentearth/rust_godot_towerdefense',
	'packages/rust/q',
	'packages/rust/soul',
	'apps/discord/disoxide',
	'apps/herbmail/axum-herbmail',
	'apps/memes/axum-memes',
	'apps/irc/irc-gateway',
	'apps/discordsh/axum-discordsh',
]

[profile.dev]
opt-level = 1

[profile.dev.overrides.kilobase]
panic = 'unwind'

[profile.release]
opt-level = 3
lto = true
strip = true
codegen-units = 1
panic = 'abort'

[profile.release.overrides.kilobase]
panic = 'unwind'
opt-level = 3
lto = 'fat'
codegen-units = 1
