---

---

<section
	class="relative bg-gradient-to-b from-zinc-900 to-zinc-800 text-white py-6 md:py-8 px-6 sm:px-12 overflow-hidden">
	<div class="max-w-7xl mx-auto text-center space-y-6">
		<h1 class="text-4xl sm:text-5xl md:text-6xl font-bold tracking-tight">
			Welcome to <span class="text-cyan-500">KBVE</span>
		</h1>
		<p class="text-lg sm:text-xl max-w-2xl mx-auto text-zinc-300">
			From cloud-native development to competitive gaming, we're here to help you level up! Whether you're containerizing apps or climbing ranked, our community's got your back.
		</p>
		<!-- React Mount Point -->
	</div>
</section>
<div 
    class="relative bg-gradient-to-b from-zinc-800 via-zinc-900 to-stone-950 h-16 w-full">

</div>

