apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
    name: mc
    namespace: argocd
    finalizers:
        - resources-finalizer.argocd.argoproj.io
spec:
    project: default
    source:
        repoURL: https://github.com/KBVE/kbve
        targetRevision: main
        path: apps/kube/mc/manifest
    destination:
        server: https://kubernetes.default.svc
        namespace: mc
    syncPolicy:
        automated:
            prune: true
            selfHeal: true
        syncOptions:
            - CreateNamespace=true
            - PrunePropagationPolicy=foreground
            - PruneLast=true
        retry:
            limit: 5
            backoff:
                duration: 5s
                factor: 2
                maxDuration: 3m
    revisionHistoryLimit: 3
