---
import UnityPlayer from "./RareIconApp"
---
<style>
    .rare-icon-container {
      max-width: 100%;
      padding: 1rem;
    }
  
    canvas {
      width: 100% !important;
      height: auto !important;
    }
  </style>

<div class="rare-icon-container relative perspective-[1000px] perspective-distant transition ease-in-out duration-700 p-4">
  <UnityPlayer client:load />
</div>