---
import Default from "@astrojs/starlight/components/PageSidebar.astro";

import { PageGraph, PageBacklinks } from "starlight-site-graph/components";
---

<PageGraph class="right-sidebar-panel graph-panel">
  <h2 slot="title">Das {Astro.locals.t('starlight-site-graph.graph')}</h2>
</PageGraph>

<Default>
  <slot />
</Default>

<PageBacklinks class="right-sidebar-panel backlinks-panel">
  <h2 slot="title">{Astro.locals.t('starlight-site-graph.backlinks')}</h2>
</PageBacklinks>
