:root ._dsp-flex{display:flex;}
:root ._ai-stretch{align-items:stretch;}
:root ._fd-column{flex-direction:column;}
:root ._fb-auto{flex-basis:auto;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._pos-relative{position:relative;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._fs-0{flex-shrink:0;}
:root ._bg-d0t748132798{background-color:rgba(0, 0, 0, 0.5);}
:root ._btlr-1307609936{border-top-left-radius:var(--radius-3);}
:root ._btrr-1307609936{border-top-right-radius:var(--radius-3);}
:root ._bbrr-1307609936{border-bottom-right-radius:var(--radius-3);}
:root ._bblr-1307609936{border-bottom-left-radius:var(--radius-3);}
:root ._pt-1481558214{padding-top:var(--space-7);}
:root ._pr-1481558214{padding-right:var(--space-7);}
:root ._pb-1481558214{padding-bottom:var(--space-7);}
:root ._pl-1481558214{padding-left:var(--space-7);}
:root ._col-white{color:white;}
:root ._tt-230633015{text-transform:var(--f-tr-9);}
:root ._ff-299667014{font-family:var(--f-fa);}
:root ._fow-233016295{font-weight:var(--f-we-9);}
:root ._ls-167744214{letter-spacing:var(--f-21-9);}
:root ._fos-229441375{font-size:var(--f-si-9);}
:root ._lh-222976728{line-height:var(--f-li-9);}
:root ._dsp-inline{display:inline;}
:root ._ww-break-word{word-wrap:break-word;}
:root ._whiteSpace-pre-wrap{white-space:pre-wrap;}
:root ._mt-0px{margin-top:0px;}
:root ._mr-0px{margin-right:0px;}
:root ._mb-0px{margin-bottom:0px;}
:root ._ml-0px{margin-left:0px;}
:root ._ussel-auto{user-select:auto;-webkit-user-select:auto;}
:root ._fow-233016140{font-weight:var(--f-we-4);}
:root ._ls-167744059{letter-spacing:var(--f-21-4);}
:root ._fos-229441220{font-size:var(--f-si-4);}
:root ._lh-222976573{line-height:var(--f-li-4);}
:root ._fd-row{flex-direction:row;}
:root ._fs-1{flex-shrink:1;}
:root ._fg-1{flex-grow:1;}