:root ._col-white{color:white;}
:root ._tt-1440318557{text-transform:var(--f-tr-10);}
:root ._ff-299667014{font-family:var(--f-fa);}
:root ._fow-1366436877{font-weight:var(--f-we-10);}
:root ._ls-905095908{letter-spacing:var(--f-21-10);}
:root ._fos-1477259397{font-size:var(--f-si-10);}
:root ._lh-1677663454{line-height:var(--f-li-10);}
:root ._dsp-inline{display:inline;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._ww-break-word{word-wrap:break-word;}
:root ._whiteSpace-pre-wrap{white-space:pre-wrap;}
:root ._mt-0px{margin-top:0px;}
:root ._mr-0px{margin-right:0px;}
:root ._mb-0px{margin-bottom:0px;}
:root ._ml-0px{margin-left:0px;}
:root ._ussel-auto{user-select:auto;-webkit-user-select:auto;}