:root ._dsp-flex{display:flex;}
:root ._fd-column{flex-direction:column;}
:root ._fb-auto{flex-basis:auto;}
:root ._bxs-border-box{box-sizing:border-box;}
:root ._pos-relative{position:relative;}
:root ._mih-0px{min-height:0px;}
:root ._miw-0px{min-width:0px;}
:root ._fs-1{flex-shrink:1;}
:root ._fg-1{flex-grow:1;}
:root ._ai-center{align-items:center;}
:root ._ai-stretch{align-items:stretch;}
:root ._btc-2122800589{border-top-color:var(--borderColor);}
:root ._brc-2122800589{border-right-color:var(--borderColor);}
:root ._bbc-2122800589{border-bottom-color:var(--borderColor);}
:root ._blc-2122800589{border-left-color:var(--borderColor);}
:root ._btw-0px{border-top-width:0px;}
:root ._brw-0px{border-right-width:0px;}
:root ._bbw-1px{border-bottom-width:1px;}
:root ._blw-0px{border-left-width:0px;}
:root ._h-0px{height:0px;}
:root ._mah-0px{max-height:0px;}
:root ._mt-15px{margin-top:15px;}
:root ._mb-15px{margin-bottom:15px;}
:root ._bbs-solid{border-bottom-style:solid;}
:root ._bts-solid{border-top-style:solid;}
:root ._bls-solid{border-left-style:solid;}
:root ._brs-solid{border-right-style:solid;}
:root ._transform-d0t1394298074{transform:translateY(-0.5px);}