apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
    name: irc
    namespace: argocd
spec:
    project: default
    source:
        repoURL: https://github.com/kbve/kbve
        targetRevision: main
        path: apps/kube/irc/manifests
    destination:
        server: https://kubernetes.default.svc
        namespace: irc
    ignoreDifferences:
        - group: cert-manager.io
          kind: Certificate
          jsonPointers:
              - /status
        - group: networking.k8s.io
          kind: Ingress
          jsonPointers:
              - /status
              - /metadata/annotations/cert-manager.io~1issuer-name
              - /metadata/annotations/cert-manager.io~1issuer-kind
              - /metadata/annotations/cert-manager.io~1issuer-group
        - group: external-secrets.io
          kind: ExternalSecret
          jsonPointers:
              - /status
    syncPolicy:
        automated:
            selfHeal: true
            prune: true
        syncOptions:
            - CreateNamespace=true
            - ServerSideApply=true
            - RespectIgnoreDifferences=true
        retry:
            limit: 5
            backoff:
                duration: 5s
                factor: 2
                maxDuration: 3m
