---
export interface Props {
    img?: string;
    logo?: string;
}
const { logo, img } = Astro.props;

---

<Fragment>
    <nav
		class="bg-zinc-950 bg-cover bg-blend-overlay border-b border-zinc-900"
		style={`background-image: url('https://images.unsplash.com/photo-${img}?auto=format&fit=crop&q=80&w=1024&h=300&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'`}>
		<div
			class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
			<a href="/#" class="flex items-center">
				<img src={logo} class="h-8 mr-3" alt="Logo" />
			</a>

			<div class="flex items-center space-x-2 md:order-2">
				<slot />
			</div>
		</div>
	</nav>
</Fragment>