---
interface Props {
	to: string;
}

const { to } = Astro.props;
const url = new URL(to, Astro.url).toString();
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Redirecting…</title>
		<meta http-equiv="refresh" content="0; url={url}" />
		<script is:inline define:vars={{ url }}>
			window.location.replace(url);
		</script>
	</head>
	<body>
		<p>Redirecting to <a href="{url}">{url}</a>…</p>
	</body>
</html>
