---
import Layout from 'src/layouts/core/Layout.astro';

const pageTitle: string = `About | KBVE`;
const title: string = `About KBVE`;
const subTitle: string = `What is KBVE About?`;

const AboutUsOption1: string =
	'KBVE is at the forefront of the Technology and Gaming industry, dedicated to crafting cutting-edge software and immersive video games that redefine user experiences. Our passion for innovation drives us to deliver exceptional digital adventures and solutions.';
const AboutUsOption2: string = `At KBVE, we merge technology with creativity, developing state-of-the-art software and captivating video games designed to engage and inspire. Our commitment to excellence shines through every product, pushing the boundaries of what's possible in tech and gaming.`;


import { Register } from "src/layouts/client/supabase/register/Register";

---

<Layout
	title={pageTitle}
	structuredData={{
		'@context': 'https://schema.org',
		'@type': 'WebPage',
		'@id': 'https://kbve.com/about/',
		url: 'https://kbve.com/about/',
		name: `${pageTitle}`,
		description:
			'Explore our software and automation solutions! Contact us to discuss your project and let us help you create the perfect automated tools and provide expert software support.',
		isPartOf: {
			'@type': 'WebSite',
			url: 'https://kbve.com',
			name: 'Kilo Byte Virtual Engine',
			description:
				'Elevate your efficiency with KBVE, Kilobyte Virtual Engine! Discover cutting-edge software and automation solutions designed to streamline and enhance your projects. Let’s innovate together!',
		},
		inLanguage: 'en-US',
	}}>

    <section class="px-6 py-12 sm:px-8 lg:px-12">
		<div
			class="mx-auto max-w-7xl relative flex flex-col md:flex-row rounded-3xl bg-white/5 backdrop-blur-md ring-1 ring-white/10
    shadow-[inset_0_0_0.5px_rgba(255,255,255,0.15),inset_0_1px_0_rgba(255,255,255,0.08),0_20px_40px_rgba(0,0,0,0.4)]
    hover:shadow-[inset_0_0_1px_rgba(255,255,255,0.2),inset_0_2px_1px_rgba(255,255,255,0.1),0_30px_60px_rgba(0,0,0,0.5)]
    transition-all duration-300 overflow-hidden ring-offset-1 ring-offset-white/5 hover:ring-4">
			
    </div>
    </section>

    
<Register client:only="react"/>

</Layout>