---
import ReactIsoArpgApp from './ReactIsoArpgApp';
---

<div class="not-content w-full h-full">
	<div
		id="iso-arpg-container"
		class="rounded-lg overflow-hidden border-2 border-gray-700 shadow-xl focus:outline-none relative bg-[#10131c]"
		style="width: 100%; aspect-ratio: 16/9;"
		tabindex="0">
		<div id="iso-arpg-inner" class="w-full h-full">
			<ReactIsoArpgApp client:only="react" />
		</div>
	</div>
</div>

<style>
	#iso-arpg-container {
		container-type: inline-size;
	}

	@container (max-width: 600px) {
		#iso-arpg-container {
			aspect-ratio: 4/3;
		}
	}
</style>
