---
interface Props {
    dyn?: boolean;
}

//*     The dynamic styling is currently disabled because it would not yet be ready for production, so we will just set the 


//  [IMPORTS]




---
<Fragment>
    <div class="bg-zinc-950 p-1">
    </div>
</Fragment>