---
export interface Props {
	logo?: string;
}

const { logo } = Astro.props;
---

<Fragment>
	<aside
		class="h-full w-16 flex flex-col space-y-10 items-center justify-center relative bg-zinc-950 text-white">
		<div
			class="h-10 w-10 flex items-center justify-center rounded-lg cursor-pointer hover:text-gray-800 hover:bg-emerald-400 hover:duration-300 hover:ease-linear focus:bg-white">
			<svg
				fill="currentColor"
                class="w-6 h-6"
				version="1.1"
				id="Layer_1"
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink"
				viewBox="0 0 260 174"
				enable-background="new 0 0 260 174"
				xml:space="preserve">
				<g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
					id="SVGRepo_tracerCarrier"
					stroke-linecap="round"
					stroke-linejoin="round">
				</g><g id="SVGRepo_iconCarrier">
					<path
						d="M252.59,84.22c-22.12,3.78-38.96,23.03-38.96,46.23c0,2.63,0.23,5.21,0.65,7.73c-1.7-0.12-3.42-0.19-5.15-0.19 c-25.16,0-42.24,13.63-49.13,34.01h-60c-6.64-20.38-23.97-34.01-49.13-34.01c-1.73,0-3.45,0.07-5.15,0.19 c0.42-2.52,0.65-5.1,0.65-7.73c0-23.2-16.84-42.45-38.96-46.23c11.11-9.31,18.18-23.28,18.18-38.91c0-18.03-9.41-33.87-23.59-42.85 C5.24,2.15,8.53,2,11.85,2C42.9,2,70.8,15.46,90.03,36.88C83.73,46.99,80,59.56,80,73.18c0,20.74,8.188,39.615,21.83,49.92 c4.51,3.407,9.144,2.374,11.898-0.304c2.828-2.75,2.825-7.778-0.338-11.076c-9.915-10.34-14.48-15.96-14.16-30.52 c0.11-5.28,2.14-10.29,5.05-14.55c-1.57-0.17-3.21-0.77-4.71-2.18c-4.75-4.48-3.92-11.86-3.87-12.23c4.32,5.28,11.4,7.23,17.7,5.17 c0.15-0.11,0.3-0.21,0.45-0.32c-9.93-7.24-7.53-18.66-7.44-19.07c3.48,8.62,11.88,14.03,20.89,13.97 c9.81-1.18,17.33,2.83,17.33,2.83s2.12-4.22,2.12-10.55c0,0,5.25,5.09,9.08,13.76c2.64,5.97,3.05,11.89,6.44,15.88l4.89,4.69 c1.27,1.21,1.29,3.24,0.03,4.47l-6.09,6.02l0.61-5.18L149.5,77.8c1.35,3.36,5.1,11.59,5.1,11.59l3.78,1.63l-4.74,1.77 c-1.74,0.64-3.69,0.14-4.9-1.26c-2.83-3.3-11.76-13.79-12.23-14.36c-3.13-3.83-10.09-4.53-13.21,1.61c-2.2,4.34,0.67,8.25,1.87,9.63 c5.84,6.72,26.51,15.42,37.9,30.18c10.44-11.07,17.03-27.31,17.03-45.41c0-13.66-3.75-26.25-10.07-36.37 C189.26,15.44,217.13,2,248.15,2c3.32,0,6.61,0.15,9.85,0.46c-14.18,8.98-23.59,24.82-23.59,42.85 C234.41,60.94,241.48,74.91,252.59,84.22z">
					</path>
				</g>
			</svg>
		</div>

		<div
			class="h-10 w-10 flex items-center justify-center rounded-lg cursor-pointer hover:text-gray-800 hover:bg-white hover:duration-300 hover:ease-linear focus:bg-white">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="h-6 w-6"
				viewBox="0 0 20 20"
				fill="currentColor">
				<path
					fill-rule="evenodd"
					d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
					clip-rule="evenodd">
				</path>
			</svg>
		</div>

		<div
			class="h-10 w-10 flex items-center justify-center rounded-lg cursor-pointer hover:text-gray-800 hover:bg-white hover:duration-300 hover:ease-linear focus:bg-white">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="h-6 w-6"
				fill="none"
				viewBox="0 0 24 24"
				stroke="currentColor">
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253">
				</path>
			</svg>
		</div>

		<div
			class="h-10 w-10 flex items-center justify-center rounded-lg cursor-pointer hover:text-gray-800 hover:bg-white hover:duration-300 hover:ease-linear focus:bg-white">
			<svg
				fill="currentColor"
                class="h-6 w-6"
				version="1.1"
				id="Capa_1"
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink"
				viewBox="0 0 59.979 59.979"
				xml:space="preserve">
				<g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
					id="SVGRepo_tracerCarrier"
					stroke-linecap="round"
					stroke-linejoin="round">
				</g><g id="SVGRepo_iconCarrier">
					<g>
						<path
							d="M39.499,28.979c-3.301,0-6.07,2.301-6.803,5.381c-0.62-0.241-1.365-0.381-2.197-0.381s-1.577,0.14-2.197,0.381 c-0.734-3.08-3.502-5.381-6.803-5.381c-3.859,0-7,3.141-7,7s3.141,7,7,7c3.634,0,6.628-2.785,6.966-6.332 c0.003-0.03,0.017-0.055,0.017-0.085c0.096-0.171,0.813-0.583,2.017-0.583s1.921,0.412,2,0.5c0,0.06,0.024,0.111,0.034,0.167 c0.338,3.547,3.332,6.333,6.966,6.333c3.859,0,7-3.141,7-7S43.358,28.979,39.499,28.979z M21.499,40.979c-2.757,0-5-2.243-5-5 s2.243-5,5-5s5,2.243,5,5S24.256,40.979,21.499,40.979z M39.499,40.979c-2.757,0-5-2.243-5-5s2.243-5,5-5s5,2.243,5,5 S42.256,40.979,39.499,40.979z">
						</path>
						<path
							d="M56.27,18.843c-0.563-4.081-2.322-7.604-4.825-9.668c-0.644-0.531-1.116-1.365-1.402-2.479 c-0.827-3.209-3.847-5.451-7.694-5.714c-2.143-0.146-3.997,0.518-6.028,1.331c-0.07,0.029-0.154,0.028-0.277-0.05 c-0.416-1.106-1.36-1.867-2.658-2.143c-3.017-0.637-7.636,1.311-11.353,4.692c0.006-0.891,0.191-1.687,0.695-1.938l1.686-0.842 L22.77,1.108c-1.737-0.978-5.926-2.038-9.334,0.944c-1.238,1.082-2.138,2.596-2.599,4.377c-0.095,0.364-0.191,0.755-0.277,1.139 c-0.037,0.167-0.174,0.217-0.231,0.23c-0.109,0.026-0.197-0.002-0.298-0.121C9.498,7.024,8.686,6.706,7.861,6.82 C7.065,6.931,6.399,7.44,6.08,8.181c-1.968,4.567-5.65,16.19,2.2,26.139v16.658c0,2.757,2.243,5,5,5h3v1.694 c0,1.271,1.034,2.306,2.305,2.306h23.39c1.271,0,2.306-1.034,2.306-2.306v-1.694h3c2.757,0,5-2.243,5-5V34.374 C53.452,33.055,57.504,27.763,56.27,18.843z M7.916,8.973C7.933,8.935,7.981,8.822,8.14,8.801C8.2,8.792,8.355,8.789,8.468,8.925 l0.064,0.078c0.554,0.66,1.423,0.942,2.269,0.74c0.861-0.209,1.518-0.874,1.711-1.735c0.082-0.362,0.173-0.731,0.262-1.076 c0.36-1.39,1.045-2.557,1.979-3.373c2.098-1.835,4.416-1.597,5.801-1.195c-0.5,0.948-0.648,2.279-0.419,3.91 c0.074,0.539,0.441,0.98,0.958,1.151c0.52,0.174,1.09,0.037,1.479-0.357c3.806-3.865,8.202-5.457,10.398-4.99 c0.941,0.199,1.138,0.72,1.202,0.891c0.197,0.524,0.596,0.941,1.122,1.173c0.555,0.245,1.201,0.256,1.77,0.029 c1.864-0.747,3.429-1.313,5.148-1.192c2.366,0.161,5.156,1.353,5.894,4.216c0.395,1.533,1.09,2.719,2.067,3.524 c1.003,0.827,3.412,3.301,4.117,8.398c0.768,5.555-0.699,9.517-2.01,11.811V18.979v-1.747l-1.507,0.885 c-2.458,1.445-4.604,1.887-6.386,1.314c-0.278-0.089-0.535-0.2-0.774-0.327c-1.672-0.884-2.409-2.508-2.417-2.527l-0.001-0.001 l-0.217-0.502l-0.546-0.084c-9.598-1.48-14.263,2.536-15.57,3.94c-6.965-0.755-9.986-2.757-10.013-2.774l-0.74-0.513l-0.587,0.683 c-0.39,0.453-0.795,0.85-1.201,1.198c-1.221,1.045-2.462,1.649-3.387,1.99L8.28,20.757v0.697v9.368 C3.378,22.634,5.843,13.785,7.916,8.973z M42.28,57.674c0,0.169-0.137,0.306-0.306,0.306h-23.39c-0.168,0-0.305-0.137-0.305-0.306 v-1.694h24V57.674z M50.28,50.979c0,1.654-1.346,3-3,3h-3h-28h-3c-1.654,0-3-1.346-3-3V36.791V22.13 c1.23-0.532,2.767-1.422,4.196-2.885c1.407,0.73,4.807,2.158,10.707,2.729l0.565,0.055l0.337-0.457 c0.038-0.052,3.805-4.994,13.546-3.676c0.516,0.89,1.797,2.672,4.112,3.429c1.952,0.638,4.145,0.403,6.536-0.694v15.719V50.979z">
						</path>
						<path
							d="M33.499,24.979h3l-1.8,2.4c-0.332,0.441-0.242,1.068,0.2,1.399c0.18,0.135,0.39,0.2,0.599,0.2 c0.305,0,0.604-0.138,0.801-0.4l3-4c0.228-0.303,0.264-0.708,0.095-1.047c-0.17-0.339-0.516-0.553-0.895-0.553h-3l1.8-2.4 c0.332-0.441,0.242-1.068-0.2-1.399c-0.441-0.331-1.068-0.242-1.399,0.2l-3,4c-0.228,0.303-0.264,0.708-0.095,1.047 C32.774,24.765,33.12,24.979,33.499,24.979z">
						</path>
						<path
							d="M37.499,46.979h-14c-0.553,0-1,0.447-1,1s0.447,1,1,1h14c0.553,0,1-0.447,1-1S38.052,46.979,37.499,46.979z">
						</path>
					</g>
				</g>
			</svg>
		</div>

		<div
			class="h-10 w-10 flex items-center justify-center rounded-lg cursor-pointer hover:text-gray-800 hover:bg-white hover:duration-300 hover:ease-linear focus:bg-white">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="h-6 w-6"
				fill="none"
				viewBox="0 0 24 24"
				stroke="currentColor">
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z">
				</path>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M15 12a3 3 0 11-6 0 3 3 0 016 0z">
				</path>
			</svg>
		</div>
	</aside>
</Fragment>
