---
import Layout from '../layouts/Layout.astro';
import { AstroVe as VE } from '@kbve/astro-ve';
let title = 'HerbMail Dashboard';
let description = 'HB Dashboard Proof of Concept';
---

<Layout title={title} description={description}>
	<main class="flex md:p-8 overflow-hidden">
		<div
			class="grid gap-4 grid-flow-row-dense grid-rows-3 md:grid-cols-2 xl:grid-cols-4 2xl:grid-cols-8 3xl:grid-cols-12">
			<section
				class="p-4 sm:p-6 bg-gray-800 border border-gray-700 rounded-lg shadow-sm 2xl:col-span-3 text-kbve-primary transition ease-in-out hover:scale-110">
				
			</section>

			<section
				class="p-4 bg-gray-800 border border-gray-700 rounded-lg shadow-sm 2xl:col-span-2 sm:p-6 text-kbve-primary transition ease-in-out hover:scale-110">
				<div class="p-6 rounded-md shadow-md bg-gray-900 text-gray-50">
					<img
						src="https://source.unsplash.com/random/300x300/?1"
						alt=""
						class="object-cover object-center w-full rounded-md h-72 bg-gray-500"
					/>
					<div class="mt-6 mb-2">
						<span
							class="block text-xs font-medium tracki uppercase text-kbve-primary-light">
							Quisque
						</span>
						<h2 class="text-xl font-semibold tracki">
							Nam maximus purus
						</h2>
					</div>
					<p class="text-gray-100">
						Mauris et lorem at elit tristique dignissim et
						ullamcorper elit. In sed feugiat mi. Etiam ut lacinia
						dui.
					</p>
				</div>
			</section>

			<section
				class="p-4 bg-gray-800 border border-gray-700 rounded-lg shadow-sm 2xl:col-span-2 sm:p-6 text-kbve-primary transition ease-in-out hover:scale-110">
				<div class="rounded-md shadow-md bg-gray-900 text-kbve-primary">
					<img
						src="https://source.unsplash.com/random/300x300/?2"
						alt=""
						class="object-cover object-center w-full rounded-t-md h-72 dark:bg-gray-500"
					/>
					<div class="flex flex-col justify-between p-6 space-y-8">
						<div class="space-y-2">
							<h2 class="text-3xl font-semibold tracki">
								Donec lectus leo
							</h2>
							<p class="text-gray-100">
								Curabitur luctus erat nunc, sed ullamcorper erat
								vestibulum eget.
							</p>
						</div>
						<span
							class="flex items-center justify-center w-full p-3 font-semibold tracki rounded-md">
							<VE widget="button:shutter:dashboard" href="#_">
								Read This Now
							</VE>
						</span>
					</div>
				</div>
			</section>

			<section class="md:p-4 bg-gray-800 border border-gray-700 rounded-lg shadow-sm 2xl:col-span-2 transition ease-in-out hover:scale-110 focus:overscroll-contain focus:pointer-events-auto">
				<VE widget="header:embed:yorha" class="" />
			</section>


			<section
				class="p-4 bg-gray-800 border border-gray-700 rounded-lg shadow-sm 2xl:col-span-2 sm:p-6 text-kbve-primary text-kbve-primary transition ease-in-out hover:scale-110">
				<!-- User Component -->
				<div
					class="rounded-3xl overflow-hidden shadow-xl my-3 bg-kbve-primary">
					<img src="https://i.imgur.com/dYcYQ7E.png" class="w-full" />
					<div class="flex justify-center -mt-8">
						<img
							src="https://i.imgur.com/8Km9tLL.jpg"
							class="rounded-full border-solid border-white border-2 -mt-3"
						/>
					</div>
					<div class="text-center px-3 pb-6 pt-2">
						<h3 class="text-white text-sm bold font-sans">
							Olivia Dunham
						</h3>
						<p class="mt-2 font-sans font-light text-white">
							Hello, i'm from another the other side!
						</p>
					</div>
					<div class="flex justify-center pb-3 text-white">
						<div class="text-center mr-3 border-r pr-3">
							<h2>34</h2>
							<span>Photos</span>
						</div>
						<div class="text-center">
							<h2>42</h2>
							<span>Friends</span>
						</div>
					</div>
				</div>
			</section>

			

			<section
				class="p-4 bg-gray-800 border border-gray-700 rounded-lg shadow-sm sm:p-6 h-24 text-kbve-primary">
				User Nav Bar Here!
			</section>



		</div>
	</main>
	<VE widget="header:external:apexcharts" />
</Layout>
