---
import Layout from '../layouts/Layout.astro';
import { AstroVe as VE } from '@kbve/astro-ve';

let title = 'Welcome to HerbMail.com';
let description = '';
---

<Layout title={title} description={description}>
	<main class="m-auto p-4 text-white text-xl leading-normal">
		<p class="mb-8 p-6 rounded-lg">
			Your personal ai email agent, powered by <strong>KBVE</strong>.
			<br />
			Wait-list is coming out soon!.
		</p>

		<ul
			role="list"
			class="grid gap-8 p-0 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
			<VE widget="card:demo" data="https://kbve.com/">
				<div slot="raw">
					<h2>
						This is a Tests
						<span>&rarr;</span>
					</h2>
					<p>Check it out <b>here</b></p>
				</div>
			</VE>
			<VE widget="card:demo" data="https://kbve.com/">
				<div slot="raw">
					<h2>
						Documentations <span>&rarr;</span>
					</h2>
					<p>Documents!</p>
				</div>
			</VE>
			<VE widget="card:demo" data="https://kbve.com/">
				<div slot="raw"></div>
			</VE>
			<VE widget="card:demo" data="https://kbve.com/">
				<div slot="raw"></div>
			</VE>
			<VE widget="card:demo" data="https://kbve.com/">
				<div slot="raw"></div>
			</VE>
			<VE widget="card:demo" data="https://kbve.com/">
				<div slot="raw"></div>
			</VE>
		</ul>

		<section class="p-4 lg:p-8 dark:bg-gray-800 dark:text-gray-100">
			<div class="container mx-auto space-y-12">
				<div
					class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row">
					<img
						src="https://source.unsplash.com/640x480/?1"
						alt=""
						class="h-80 dark:bg-gray-500 aspect-video"
					/>
					<div
						class="flex flex-col justify-center flex-1 p-6 dark:bg-gray-900">
						<span class="text-xs uppercase dark:text-gray-400">
							Join, it's free
						</span>

						<h3 class="text-3xl font-bold">
							We're not reinventing the wheel
						</h3>
						<p class="my-6 dark:text-gray-400">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Dolor aliquam possimus quas, error esse quos.
						</p>
						<div class="flex space-x-4">
							<VE
								widget="button:shutter"
								data="https://kbve.com/">
								KBVE
							</VE>
							<VE
								widget="button:shutter"
								data="https://kbve.com/">
								OBXD
							</VE>
							<VE widget="button:slide" data="https://kbve.com/">
								Slide
							</VE>
						</div>
					</div>
				</div>
				<div
					class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row-reverse">
					<img
						src="https://source.unsplash.com/640x480/?2"
						alt=""
						class="h-80 dark:bg-gray-500 aspect-video"
					/>
					<div
						class="flex flex-col justify-center flex-1 p-6 dark:bg-gray-900">
						<span class="text-xs uppercase dark:text-gray-400">
							Join, it's free
						</span>
						<h3 class="text-3xl font-bold">
							We're not reinventing the wheel
						</h3>
						<p class="my-6 dark:text-gray-400">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Dolor aliquam possimus quas, error esse quos.
						</p>
						<button type="button" class="self-start">Action</button>
					</div>
				</div>
				<div
					class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row">
					<img
						src="https://source.unsplash.com/640x480/?3"
						alt=""
						class="h-80 dark:bg-gray-500 aspect-video"
					/>
					<div
						class="flex flex-col justify-center flex-1 p-6 dark:bg-gray-900">
						<span class="text-xs uppercase dark:text-gray-400">
							Join, it's free
						</span>
						<h3 class="text-3xl font-bold">
							We're not reinventing the wheel
						</h3>
						<p class="my-6 dark:text-gray-400">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Dolor aliquam possimus quas, error esse quos.
						</p>
						<button type="button" class="self-start">Action</button>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
