---
import Layout from '../layouts/Layout.astro';
let title = 'Welcome to HerbMail.com';
let description =
	'Discover dedicated email services for personal AI agents. Streamline communication and empower your AI with a tailored inbox. Join now!';

import { Button } from '@kbve/shadcnui/button';

import {
	Card,
	CardContent,
	CardDescription,
	CardFooter,
	CardHeader,
	CardTitle,
} from '@kbve/shadcnui/card';
---

<Layout title={title} description={description}>
	<main class="m-auto p-4 text-white text-xl leading-normal min-h-screen">
		<section class="text-gray-100">
			<div
				class="container flex flex-col justify-center p-1 mx-auto sm:py-12 lg:py-24 lg:flex-row lg:justify-between">
				<div
					class="flex items-center justify-center p-1 mt-2 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
					<div class="object-contain">
						<dotlottie-player
							autoplay
							loop
							mode="normal"
							src="/assets/json/lottie/mailer.lottie"
						></dotlottie-player>
					</div>
					
				</div>
				<div class="flex items-center justify-center">
					<Card>
						<CardHeader>
							<CardTitle>Card Title</CardTitle>
							<CardDescription>Card Description</CardDescription>
						</CardHeader>
						<CardContent>
							<Button variant="secondary"> Hi </Button>
						</CardContent>
						<CardFooter>
							<p>Card Footer</p>
						</CardFooter>
					</Card>
				</div>
			</div>
		</section>
	</main>
</Layout>
