---
import Layout from '../layouts/Layout.astro';
import { AstroVe as VE } from '@kbve/astro-ve';

let title = 'Welcome to HerbMail.com';
let description =
	'Discover dedicated email services for personal AI agents. Streamline communication and empower your AI with a tailored inbox. Join now!';
---

<Layout title={title} description={description}>
	<main class="m-auto p-4 text-white text-xl leading-normal">
		<section class="text-gray-100">
			<div
				class="container flex flex-col justify-center p-1 mx-auto sm:py-12 lg:py-24 lg:flex-row lg:justify-between">
				<div
					class="flex items-center justify-center p-1 mt-2 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
					<div class="object-contain">
						<dotlottie-player
							autoplay
							loop
							mode="normal"
							src="/assets/json/lottie/mailer.lottie"
						></dotlottie-player>
					</div>
				</div>
				<VE widget="wrapper:demo:demo" data="">
					<div
						class="flex flex-col justify-center p-2 text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left">
						<h1
							class="text-5xl font-bold leading sm:text-6xl text-gradient">
							Your personal AI Agent in your inbox. 🦆
						</h1>
						<p class="mt-6 mb-8 text-lg sm:mb-12">
							Send emails or messages to each of your agents,
							having them generate market research, code and more. <span
								class="animate-pulse text-gradient">
								&#9672;
							</span>
							<br class="hidden md:inline lg:hidden" />Wait list
							coming soon!
						</p>
						<div
							class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start">
							<VE
								widget="button:shutter:shutter"
								data=""
								href="/#"
								data-modal-target="defaultModal"
								data-modal-toggle="defaultModal"
								data-modal-backdropClasses="">
								Join Now
							</VE>
							<VE
								widget="button:slide:slide"
								data=""
								href="https://kbve.com/">
								Login
							</VE>

							<VE
								widget="modal:flowbite:demo"
								data="defaultModal">
								Test
							</VE>
						</div>
					</div>
				</VE>
			</div>
		</section>

		<VE
			widget="wrapper:demo:demo"
			data="https://images.unsplash.com/photo-1551221236-6f908cc5838a?auto=format&fit=crop&q=80&w=3269&ixlib=rb-4.0.3">
			<section class="p-4 lg:p-8 text-gray-100">
				<div class="container mx-auto space-y-12">
					<div
						class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row">
						<dotlottie-player
							class="object-contain h-48 lg:h-96"
							autoplay
							loop
							mode="normal"
							src="/assets/json/lottie/desk.lottie"
						></dotlottie-player>
						<div
							class="flex flex-col justify-center flex-1 p-6 bg-gray-900/[.45] skew-y-6">
							<span
								class="text-xs uppercase text-gray-400 indent-48">
								Atlas
							</span>

							<h3
								class="text-3xl font-bold text-gradient indent-12">
								We're not reinventing the wheel
							</h3>
							<p class="my-6 indent-12">
								Unleash the limitless potential of AI agents in
								your digital realm! From automating mundane
								tasks to sparking innovative solutions, these
								intelligent assistants can reshape your daily
								routine. Dive into a world where your personal
								agent curates content, offers design insights,
								crafts compelling narratives, and even decodes
								intricate data. Step beyond the ordinary and
								reimagine what's possible with AI at your
								fingertips!
							</p>
							<div class="flex space-x-4">
								<VE
									widget="button:shutter:shutter"
									data=""
									href="https://kbve.com/project/atlas/">
									Atlas
								</VE>
							</div>
						</div>
					</div>
					<div
						class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row-reverse">
						<dotlottie-player
							class="object-contain h-48 lg:h-96 skew-y-6 animate-pulse"
							autoplay
							loop
							mode="normal"
							src="/assets/json/bob.lottie"></dotlottie-player>
						<div
							class="flex flex-col justify-center flex-1 p-6 bg-gray-900/[.45] -skew-y-6">
							<span
								class="text-xs uppercase text-gray-400 indent-48">
								Your agent on every platform!
							</span>
							<h3 class="text-3xl font-bold text-gradient">
								Seamlessly integrate your personal agent across
								all platforms!
							</h3>
							<div class="my-6">
								Message your agent on Discord! Ask it to code
								review on Github! Even email it your daily
								tasks!
							</div>
							<div
								class="flex flex-col md:flex-row space-x-4 space-y-4 md:space-y-0">
								<VE
									widget="button:shutter:shutter"
									data=""
									href="https://discord.sh/atlas/">
									Discord.sh
								</VE>
								<VE
									widget="button:shutter:shutter"
									data=""
									href="https://discord.sh/atlas/">
									Discord.sh
								</VE>
							</div>
						</div>
					</div>
					<div class="flex flex-col rounded-md shadow-sm lg:flex-row clip-polygon">
						<dotlottie-player
							class="object-contain h-48 lg:h-96 animate-bounce"
							autoplay
							loop
							mode="normal"
							src="/assets/json/idea.lottie"></dotlottie-player>
						<div
							class="flex flex-col justify-center flex-1 p-1 md:p-6 bg-gray-900/[.45]">
							<span
								class="text-xs uppercase text-gray-400 indent-48">
								Plant Ideas.
							</span>
							<h3 class="text-3xl font-bold bg-custom-gradient text-transparent bg-clip-text text-center">
								Register Now!
							</h3>
							<p class="my-6 dark:text-gray-400">
								<VE widget="kbve:register:register" className="flex-wrap p-4" domain="https://api.herbmail.com" />
							</p>

						</div>
					</div>
				</div>
			</section>
			<section class="p-4 lg:p-8">
				<ul
					role="list"
					class="grid gap-8 p-0 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
					<VE widget="card:demo:demo" href="https://kbve.com/">
						<div slot="raw">
							<h2>
								Transforming communication, mastering tasks, and
								simplifying life.
							</h2>
							<p>Explore More! <b><span>&rarr;</span></b></p>
						</div>
					</VE>
					<VE widget="card:demo:demo" href="https://kbve.com/">
						<div slot="raw">
							<h2>
								Documentations <span>&rarr;</span>
							</h2>
							<p>Documents!</p>
						</div>
					</VE>
					<VE widget="card:demo:demo" href="https://kbve.com/">
						<div slot="raw">
							<div class="object-contain">
								<dotlottie-player
									autoplay
									loop
									mode="normal"
									src="/assets/json/aie.lottie"
								></dotlottie-player>
							</div>
						</div>
					</VE>
					<VE widget="card:demo:demo">
						<div slot="raw">
							<h2>
								Login
							</h2>
							<VE widget="kbve:login:login" className="flex-wrap p-4" domain="https://api.herbmail.com"/>
						</div>
					</VE>
					<VE widget="card:demo:demo" href="https://kbve.com/">
						<div slot="raw"></div>
					</VE>
					<VE widget="card:demo:demo" href="https://kbve.com/">
						<div slot="raw"></div>
					</VE>
					<VE widget="card:demo:demo" href="https://kbve.com/">
						<div slot="raw"></div>
					</VE>
					<VE widget="card:demo:demo" href="https://kbve.com/">
						<div slot="raw"></div>
					</VE>
				</ul>
			</section>
		</VE>
	</main>
</Layout>

