---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { AstroVe } from '@kbve/astro-ve';

let title = 'Welcome to HerbMail.com';
let description = '';
---

<Layout title={title} description={description}>
	<main>
		
		<h1 class="p-2">
			Welcome to <span class="text-gradient uppercase">
				Herbmail.com - Test Case 4
			</span>
		</h1>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br
			/>
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message
			above.
		</p>
		<AstroVe ve='1' />
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Astro Community"
				body="Come say hi to our amazing Astro Discord community. ❤️"
			/>
			<Card
				href="https://nx.dev/"
				title="Nx"
				body="Learn more about Nx."
			/>
			<Card
				href="https://nrwlcommunity.slack.com/"
				title="Nrwl Community Slack"
				body="Come chat in the Nrwl Community Slack. ❤️"
			/>
		</ul>

		<section class="p-4 lg:p-8 dark:bg-gray-800 dark:text-gray-100">
			<div class="container mx-auto space-y-12">
				<div class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row">
					<img src="https://source.unsplash.com/640x480/?1" alt="" class="h-80 dark:bg-gray-500 aspect-video">
					<div class="flex flex-col justify-center flex-1 p-6 dark:bg-gray-900">
						<span class="text-xs uppercase dark:text-gray-400">Join, it's free</span>
						<h3 class="text-3xl font-bold">We're not reinventing the wheel</h3>
						<p class="my-6 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor aliquam possimus quas, error esse quos.</p>
						<button type="button" class="self-start">Action</button>
					</div>
				</div>
				<div class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row-reverse">
					<img src="https://source.unsplash.com/640x480/?2" alt="" class="h-80 dark:bg-gray-500 aspect-video">
					<div class="flex flex-col justify-center flex-1 p-6 dark:bg-gray-900">
						<span class="text-xs uppercase dark:text-gray-400">Join, it's free</span>
						<h3 class="text-3xl font-bold">We're not reinventing the wheel</h3>
						<p class="my-6 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor aliquam possimus quas, error esse quos.</p>
						<button type="button" class="self-start">Action</button>
					</div>
				</div>
				<div class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row">
					<img src="https://source.unsplash.com/640x480/?3" alt="" class="h-80 dark:bg-gray-500 aspect-video">
					<div class="flex flex-col justify-center flex-1 p-6 dark:bg-gray-900">
						<span class="text-xs uppercase dark:text-gray-400">Join, it's free</span>
						<h3 class="text-3xl font-bold">We're not reinventing the wheel</h3>
						<p class="my-6 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor aliquam possimus quas, error esse quos.</p>
						<button type="button" class="self-start">Action</button>
					</div>
				</div>
			</div>
		</section>
		
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;

		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(
			rgba(var(--accent-dark), 66%),
			rgba(var(--accent-dark), 33%)
		);
		padding: 1.5rem;
		border-radius: 8px;
	}

	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}

	.instructions strong {
		color: rgb(var(--accent-light));
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
