---
import OceanCard from './OceanCard.astro';
---

<section class="relative w-full min-h-screen md:min-h-[600px]">
	<div
		class="relative z-10 grid gap-8 px-4 py-2
              grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 place-items-center">
		<OceanCard
			title="VIP"
			price={5}
			cycle="/month"
			badge="Elite Tier"
			subtitle="Unlock supreme aquatic access, analytics, and more with Abyss Tier benefits."
			background="https://images.unsplash.com/photo-1603136548580-097020e300d6?auto=format&fit=crop&w=1050&q=80"
			features={[
				'Ultra-Low Latency Streams',
				'AI-Driven Flow Routing',
				'Abyssal Archive Access',
				'Biometric Security Layers',
				'Exclusive Ocean Labs Beta',
			]}
		/>
		<OceanCard
			title="Abyss Tier"
			price={49}
			cycle="/month"
			badge="Elite Tier"
			subtitle="Unlock supreme aquatic access, analytics, and more with Abyss Tier benefits."
			background="https://images.unsplash.com/photo-1616001089004-04948fc0e6c1?auto=format&fit=crop&w=1050&q=80"
			features={[
				'Ultra-Low Latency Streams',
				'AI-Driven Flow Routing',
				'Abyssal Archive Access',
				'Biometric Security Layers',
				'Exclusive Ocean Labs Beta',
			]}
		/>
		<OceanCard
			title="God Tier"
			price={99}
			cycle="/month"
			badge="Elite Tier"
			subtitle="Unlock supreme aquatic access, analytics, and more with Abyss Tier benefits."
			background="https://images.unsplash.com/photo-1517504734587-2890819debab?auto=format&fit=crop&w=1050&q=80"
			features={[
				'Ultra-Low Latency Streams',
				'AI-Driven Flow Routing',
				'Abyssal Archive Access',
				'Biometric Security Layers',
				'Exclusive Ocean Labs Beta',
			]}
		/>
	</div>
</section>
