---
import { AstroVe as VE } from '@kbve/astro-ve';
// TODO : Different Panel Types for the future!
---
<article class="bg-gray-800 grid items-start justify-items-center gap-4 h-dvh w-full">
<section class="comic mx-auto w-80 md:w-[600px] h-[705px] p-4 my-8 shadow-lg">
	<div class="panel-1 overflow-hidden border-4">
		<img src='/assets/img/final_floating_spaghetti_monster.png' class="w-full h-full object-cover hover:overflow-visible" alt=''>
     
	</div>
	<div class="panel-2 overflow-hidden border-4">
		<img src='https://images.unsplash.com/photo-1469234496837-d0101f54be3e?q=80&w=2118&auto=format&fit=crop&ixlib=rb-4.0.3' class="w-full h-full object-cover" alt=''>
	</div>
	<div class="panel-3 overflow-hidden border-4">
		<img src='/assets/img/anime_arrow.webp' class="w-full h-full object-cover hover:animate-pulse" alt=''>
	</div>
	<div class="panel-4 overflow-hidden border-4">
		<img src='https://images.unsplash.com/photo-1534655882117-f9eff36a1574?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ' class="w-full h-full object-cover" alt=''>
	</div>
	<div class="panel-5 overflow-hidden border-4">
		<img src='/assets/img/sauced.webp' class="w-full h-full object-cover transition transform hover:-translate-x-10" alt=''>
	</div>
	<div class="panel-6 overflow-hidden relative grid-row-end-auto grid-col-span-4-6 border-8">
		<img src='/assets/img/cia_goth.webp' class="w-full height-180 object-cover absolute hover:scale-110" alt=''>
	</div>
</section>
</article>
