---
---



<div class="comic-panel mx-auto max-w-4xl p-4">
    <div class="grid md:grid-cols-3 gap-4">
      <div class="relative">
        <img src="https://utfs.io/f/28d1439d-be19-4e4a-940b-79eb65340572-wvk0vo.png" alt="Comic Image 1" class="w-full h-auto">
        <div class="absolute bottom-0 left-0 bg-white bg-opacity-75 p-2">Caption 1</div>
      </div>
      <div class="relative">
        <img src="https://utfs.io/f/0a80fa03-c83e-4fed-9f44-31ae0b77ba4b-3fda4i.webp" alt="Comic Image 2" class="w-full h-auto">
        <div class="absolute bottom-0 left-0 bg-white bg-opacity-75 p-2">Caption 2</div>
      </div>
      <div class="relative">
        <img src="https://utfs.io/f/68df7eec-721e-45fd-b4a7-d561e837ace0-ww4skg.webp" alt="Comic Image 3" class="w-full h-auto">
        <div class="absolute bottom-0 left-0 bg-white bg-opacity-75 p-2">Caption 3</div>
      </div>
    </div>
  </div>