---

---

<!-- Docs -->
<a
	href="/docs"
	class="group relative flex flex-col items-center justify-center p-2 text-cyan-400 hover:text-purple-400 transition-colors duration-300"
	aria-label="Docs"
	data-astro-prefetch>
	<!-- Tooltip -->
	<span
		class="absolute -bottom-8 scale-0 rounded bg-stone-500/40 opacity-[.4] px-2 py-1 text-xs text-white opacity-0 shadow-md transition-all duration-300 group-hover:scale-100 group-hover:opacity-100">
		Documentation
	</span>

	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="24"
		height="24"
		viewBox="0 0 24 24"
		fill="none"
		stroke="currentColor"
		stroke-width="2"
		stroke-linecap="round"
		stroke-linejoin="round"
		class="lucide transition-transform duration-300 group-hover:-translate-y-1 group-hover:rotate-1 group-hover:text-purple-400">
		<path d="M2 6h4"></path><path d="M2 10h4"></path><path d="M2 14h4">
		</path><path d="M2 18h4"></path><rect
			width="16"
			height="20"
			x="4"
			y="2"
			rx="2">
		</rect><path d="M9.5 8h5"></path><path d="M9.5 12H16"></path><path
			d="M9.5 16H14">
		</path>
	</svg>
	<!-- Label -->
	<span
		class="relative text-xs font-medium group-hover:text-purple-400 transition">
		Docs
		<span
			class="absolute -bottom-0.5 left-0 h-0.5 w-0 bg-purple-400 transition-all duration-300 group-hover:w-full">
		</span>
	</span>
</a>
