/* global.css */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";


[x-cloak] {
	display: none !important;
}

/* For WebKit-based browsers */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #1f1b2e;
}

::-webkit-scrollbar-thumb {
	background-color: #7c3aed; /* purple-700 */
	border-radius: 6px;
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #7c3aed #1f1b2e;
}

/* Prevent layout shift from scrollbars */
html {
	scrollbar-gutter: stable;
}
/* 
* {
  outline: 1px solid rgba(255, 0, 0, 0.2);
} */

.scroll-parent-isolated {
  @apply relative z-0;
  isolation: isolate;
}


@keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  .animate-float {
    animation: float 3s ease-in-out infinite;
  }
  .animate-float-slow {
    animation: float 5s ease-in-out infinite;
  }
  .animate-float-fast {
    animation: float 2s ease-in-out infinite;
  }

@layer components {
    .card-tile {
      @apply bg-[#312d4b] p-4 rounded shadow-xl border-purple-500/20 hover:border-purple-500 border md:col-span-2 md:row-span-2 relative z-10;
    }
    .bento-grid-3 {
      @apply grid gap-6 grid-cols-1 md:grid-cols-3 auto-rows-auto grid-flow-dense overflow-visible;
    }
  }

/*   
path {
  stroke-dasharray: 15;
  animation: move 35s linear infinite;
}

@keyframes move {
  to {
      stroke-dashoffset: 1000;
  }
} */
