---
interface Props {
	title: string;
	description: string;
	image?: string;
}
const { title, description } = Astro.props;
//import { ViewTransitions } from "astro:transitions";  // Disabled ViewTransitions because it still seems to becausing errors with the menus.
import { AstroVe as VE } from '@kbve/astro-ve';
import Menu from './Menu.astro';
import Footer from './Footer.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<VE widget="header:external:toastify" data="" />
		<VE widget="header:external:flowbite" data="" class="" />
		<VE widget="header:embed:nanostores" data="" />
		<VE widget="header:external:lottie" data="dot" />
		<!-- <ViewTransitions /> -->
	</head>

	<div class="h-screen w-full bg-zinc-950 relative flex overflow-hidden">
		<Menu />

		<!--
		<VE widget="drawer:flowbite:demo"/>
			 -->
		<div class="w-full h-full flex flex-col justify-between">
			<header
				class="h-16 w-full flex items-center relative justify-center px-5 space-x-10 bg-zinc-950">
				<div
					class="w-full flex flex-shrink-0 items-center space-x-4 text-white">
					<VE
						widget="nav:v01d:auto"
						logo="/assets/img/letter_logo.png">
						<VE
							widget="kbve:user:user"
						/>
						<div class="text-center">
							<button
								class="text-white hover:bg-cyan-400 hover:bg-opacity-50 transition-all focus:ring-4 focus:ring-cyan-300 font-medium rounded-full text-sm px-1 py-1 focus:outline-none"
								type="button"
								data-drawer-target="drawer-swipe"
								data-drawer-show="drawer-swipe"
								data-drawer-placement="bottom"
								data-drawer-edge="true"
								data-drawer-edge-offset="bottom-[60px]"
								aria-controls="drawer-swipe">
								
								<svg
									class="object-contain w-6"
									aria-hidden="true"
									xmlns="http://www.w3.org/2000/svg"
									fill="currentColor"
									viewBox="0 0 18 18">
									<path
										d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10ZM17 13h-2v-2a1 1 0 0 0-2 0v2h-2a1 1 0 0 0 0 2h2v2a1 1 0 0 0 2 0v-2h2a1 1 0 0 0 0-2Z">
									</path>
								</svg>
							
								<!-- <div class="object-contain w-6" id="menu">
									<dotlottie-player
										hover
										autoplay
										mode="normal"
										src="/assets/lottie/menu.lottie"
									></dotlottie-player>
								</div> -->
								
							</button>
						</div>
					</VE>
				</div>
			</header>

			
			<main class="max-w-full h-full flex relative overflow-y-hidden" transition:animate="fade">
				<!-- Removed grid-flow-col auto-cols-max -->
				
				<div
					class="h-full w-full justify-start rounded-tl flex flex-wrap gap-4 overflow-y-scroll content-start p-3 justify-center"
				>
					<slot />

					<Footer />
				
				</div>
			</main>
		</div>
	</div>

	<style is:global>
		:root {
			--color-kbve-menu-bg-dyn: #fff333;
			--accent: 136, 58, 234;
			--accent-light: 224, 204, 250;
			--accent-dark: 49, 10, 101;
			--accent-gradient: linear-gradient(
				45deg,
				rgb(var(--accent)),
				rgb(var(--accent-light)) 30%,
				white 60%
			);
		}

		code {
			font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
				DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
				monospace;
		}
	</style>
</html>
