palooz @ git+https://github.com/deafdudecomputers/PalworldSaveTools@3d88752eb263b47bc0eaa88d77df644bbf347682#subdirectory=src/palsav/palooz
palsav-flex @ git+https://github.com/deafdudecomputers/PalworldSaveTools@3d88752eb263b47bc0eaa88d77df644bbf347682#subdirectory=src/palsav
