apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
    name: ergo-irc-tls
    namespace: irc
spec:
    secretName: ergo-irc-tls-secret
    issuerRef:
        name: letsencrypt-dns
        kind: ClusterIssuer
    dnsNames:
        - irc.kbve.com
