---
import { DroidProvider } from '@kbve/astro';

interface Props {
  title: string;
  description?: string;
}

const { title, description = 'Herbmail - Herbal Email Solutions' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <DroidProvider client:only="react" />
    <slot />
  </body>
</html>
