---
interface Props {
	title: string;
	description: string;
	image?: string;
}
const { title, description } = Astro.props;
import Nav from './Nav.astro';
import Footer from './Footer.astro';
import { AstroVe as V } from '@kbve/astro-ve';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<V e="🚀"/>
	</head>
	<Nav />
	<body>
		<slot />
	</body>

	<footer>
		<Footer />
	</footer>
	<style is:global>
		/* width */
		::-webkit-scrollbar {
			width: 10px;
		}

		/* Track */
		::-webkit-scrollbar-track {
			background: #888;
			border-radius: 5px;
		}

		/* Handle */
		::-webkit-scrollbar-thumb {
			background: #23262d;
			border-radius: 5px;
		}

		/* Handle on hover */
		::-webkit-scrollbar-thumb:hover {
			background: #555;
		}

		:root {
			--accent: 126, 217, 87;
			--accent-light: 224, 204, 250;
			--accent-dark: 49, 10, 101;
			--accent-gradient: linear-gradient(
				45deg,
				rgb(var(--accent)),
				rgb(var(--accent-light)) 30%,
				white 60%
			);
			--herbmail: #8c52ff;
		}

		html {
			font-family: system-ui, sans-serif;
			background: #13151a;
			background-size: 224px;
		}

		code {
			font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
				DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
				monospace;
		}
	</style>
</html>
