---
interface Props {
	title: string;
	description: string;
	image?: string;
}
const { title, description } = Astro.props;
// import { Toastify } from '@kbve/astropad';

import './global.css';
---

<!doctype html>
<html lang="en" class="bg-zinc-950">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- <VE widget="header:external:toastify" data="" /> -->
		<!--  <Toastify /> -->
	</head>

	<body>
		<slot />
		<footer></footer>
	</body>
</html>
