---
/**
 * Custom SiteTitle override for Starlight.
 * TODO: Port full implementation from ~/kbve.com/website/astro/src/components/navigation/SiteTitle.astro
 */
import type { Props } from '@astrojs/starlight/props';
---

<a href="/" class="site-title sl-flex">
	<span>KBVE</span>
</a>
