---
const { side = 'left' } = Astro.props;
const label = `Close ${side} panel`;
---

<div class="relative group">
  <button
    onclick={`window.kbve?.uiux?.closePanel?.('${side}')`}
    class="text-red-500 hover:text-red-400 transition text-xl font-bold hover:scale-[1.1] group-hover:rotate-[10deg]"
    aria-label={label}
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-circle-x-icon lucide-circle-x"
    >
      <circle cx="12" cy="12" r="10"></circle>
      <path d="m15 9-6 6"></path>
      <path d="m9 9 6 6"></path>
    </svg>
  </button>

  <!-- Tooltip -->
  <span
    class="absolute -bottom-14 left-1/2 -translate-x-1/2 scale-0 rounded bg-stone-700 px-2 py-1 text-xs text-white opacity-0 shadow-md transition-all duration-300 group-hover:scale-100 group-hover:opacity-100"
  >
    {label}
  </span>
</div>
