---

---

<script
	is:inline
	async
	src="https://cse.google.com/cse.js?cx=partner-pub-3698214103602019:ab1srxiqkuo"
></script>


<!-- Wrapper for Google SearchBox -->
<div class="w-full p-2 rounded-lg bg-zinc-900 border border-cyan-700/30 text-black min-h-[60px]">
	<div class="gcse-searchbox-only"></div>
</div>