[workspace]
resolver = "2"
members = [
    "apps/discordsh/axum-discordsh",
    "packages/rust/jedi",
    "packages/rust/kbve",
]

[profile.release]
opt-level = 3
lto = true
strip = true
codegen-units = 1
panic = "abort"
