---
import Layout from '../../../layouts/Layout.astro';
import { AstroVe as VE } from '@kbve/astro-ve';

let _title = 'Travel Box - An AutoRPG';
let _description = 'This is our submission for the mini game jam 154!';
---

<Layout title={_title} description={_description}>

    <!-- 

        Additional Header Here for the Game
     -->

    <section
    class={`flex-auto w-full md:w-6/12 p-5 bg-[#c0987d] border border-cyan-200 rounded-lg shadow bg-default bg-cover bg-blend-overlay`}
    style={`background-image: url('https://utfs.io/f/ae961975-ad95-4247-91cc-2c573d6fbe3e-1t0m0l.webp')`}
    >


        <!-- PlaceHolders -->

        <script is:inline type="module" src="/embed/js/travelbox/travelbox.js"></script>
            
        <div id="travelbox"></div>

    </section>

    <!-- 
        Extras if we need.
     -->
    
</Layout>