---
interface Props {
  title: string;
}

const { title } = Astro.props;
import { Preline } from '@kbve/astropad';
import Header from './Header.astro';
---

<!doctype html>
<html lang="en" class="bg-neutral-900">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <Preline />
  </head>

  <!-- ========== HEADER ========== -->
   <Header />
  <!-- ========== END HEADER ========== -->

  <body>
    <slot />
  </body>

  <!-- ========== FOOTER ========== -->
  
  <!-- ========== END FOOTER ========== -->

  <style is:global>
    :root {
      --accent: 136, 58, 234;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
      );
    }

    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }

    .hexgrid-background {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 86" width="50" height="43"><defs><pattern id="hexgrid" patternUnits="userSpaceOnUse" width="100" height="86"><polygon points="50 3, 100 22, 100 64, 50 83, 0 64, 0 22" fill="none" stroke="rgba(255, 215, 0, 0.4)" stroke-width="1" /></pattern></defs><rect width="100" height="86" fill="url(%23hexgrid)" /></svg>');
      background-repeat: repeat;
      background-position: 0 0;
      animation: scrollLeft 2s linear infinite;
    }

    @keyframes scrollLeft {
      from {
        background-position: 0 0;
      }
      to {
        background-position: -100px 0;
      }
    }
  </style>
</html>
