---
interface Props {
  title: string;
}

const { title } = Astro.props;
import { Preline } from '@kbve/astropad';
---

<!doctype html>
<html lang="en" class="bg-neutral-900">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <Preline />
  </head>

  <!-- ========== HEADER ========== -->
  <header
    class="sticky top-4 inset-x-0 flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full text-sm">
    <nav
      class="relative max-w-[85rem] w-full bg-zinc-950 border border-yellow-500 rounded-[36px] mx-2 py-3 px-4 md:flex md:items-center md:justify-between md:py-0 md:px-6 lg:px-8 xl:mx-auto"
      aria-label="Global">
      <div class="flex items-center justify-between">
        <a
          class="flex-none text-xl font-semibold text-yellow-300"
          href="#"
          aria-label="CryptoThrone">CryptoThrone</a
        >
        <div class="md:hidden">
          <button
            type="button"
            class="hs-collapse-toggle size-8 flex justify-center items-center text-sm font-semibold rounded-full border border-yellow-500 text-yellow-300 hover:bg-yellow-300 hover:text-zinc-950 disabled:opacity-50 disabled:pointer-events-none"
            data-hs-collapse="#navbar-collapse-with-animation"
            aria-controls="navbar-collapse-with-animation"
            aria-label="Toggle navigation">
            <svg
              class="hs-collapse-open:hidden flex-shrink-0 size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><line x1="3" x2="21" y1="6" y2="6"></line><line
                x1="3"
                x2="21"
                y1="12"
                y2="12"></line><line x1="3" x2="21" y1="18" y2="18"></line></svg
            >
            <svg
              class="hs-collapse-open:block hidden flex-shrink-0 size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg
            >
          </button>
        </div>
      </div>
      <div
        id="navbar-collapse-with-animation"
        class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block">
        <div
          class="flex flex-col md:flex-row md:items-center md:justify-end py-2 md:py-0 md:ps-7">
          <a
            class="py-3 ps-px md:px-3 font-medium text-yellow-300"
            href="#"
            aria-current="page">Landing</a
          >
          <a
            class="py-3 ps-px md:px-3 font-medium text-yellow-300 hover:text-yellow-500"
            href="#">Account</a
          >
          <a
            class="py-3 ps-px md:px-3 font-medium text-yellow-300 hover:text-yellow-500"
            href="#">Work</a
          >
          <a
            class="py-3 ps-px md:px-3 font-medium text-yellow-300 hover:text-yellow-500"
            href="#">Blog</a
          >

          <div
            class="hs-dropdown [--strategy:static] md:[--strategy:fixed] [--adaptive:none] md:[--trigger:hover] py-3 ps-px md:px-3">
            <button
              type="button"
              class="flex items-center w-full text-yellow-300 hover:text-yellow-500 font-medium">
              Dropdown
              <svg
                class="flex-shrink-0 ms-2 size-4 text-yellow-300"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"><path d="m6 9 6 6 6-6"></path></svg
              >
            </button>

            <div
              class="hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] md:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 md:w-48 hidden z-10 bg-zinc-950 md:shadow-md rounded-lg p-2 md: before:absolute top-full md:border before:-top-5 before:start-0 before:w-full before:h-5 border-yellow-500">
              <a
                class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-yellow-300 hover:bg-yellow-300 hover:text-zinc-950 focus:ring-2 focus:ring-yellow-500"
                href="#">
                About
              </a>
              <div
                class="hs-dropdown [--strategy:static] md:[--strategy:absolute] [--adaptive:none] md:[--trigger:hover] relative">
                <button
                  type="button"
                  class="w-full flex justify-between items-center text-sm text-yellow-300 rounded-lg py-2 px-3 hover:bg-yellow-300 hover:text-zinc-950 focus:ring-2 focus:ring-yellow-500">
                  Sub Menu
                  <svg
                    class="sm:-rotate-90 flex-shrink-0 ms-2 size-4 text-yellow-300"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"><path d="m6 9 6 6 6-6"></path></svg
                  >
                </button>

                <div
                  class="hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] md:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 md:w-48 hidden z-10 bg-zinc-950 md:shadow-md rounded-lg p-2 md: before:absolute md:border before:-end-5 before:top-0 before:h-full before:w-5 border-yellow-500 !mx-[10px] top-0 end-full">
                  <a
                    class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-yellow-300 hover:bg-yellow-300 hover:text-zinc-950 focus:ring-2 focus:ring-yellow-500"
                    href="#">
                    About
                  </a>
                  <a
                    class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-yellow-300 hover:bg-yellow-300 hover:text-zinc-950 focus:ring-2 focus:ring-yellow-500"
                    href="#">
                    Downloads
                  </a>
                  <a
                    class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-yellow-300 hover:bg-yellow-300 hover:text-zinc-950 focus:ring-2 focus:ring-yellow-500"
                    href="#">
                    Team Account
                  </a>
                </div>
              </div>

              <a
                class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-yellow-300 hover:bg-yellow-300 hover:text-zinc-950 focus:ring-2 focus:ring-yellow-500"
                href="#">
                Downloads
              </a>
              <a
                class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-yellow-300 hover:bg-yellow-300 hover:text-zinc-950 focus:ring-2 focus:ring-yellow-500"
                href="#">
                Team Account
              </a>
            </div>
          </div>

          <a
            class="flex items-center gap-x-2 font-medium text-yellow-300 hover:text-yellow-500 md:border-s md:border-yellow-500 py-2 md:py-0 md:my-6 md:ps-6"
            href="#">
            <svg
              class="flex-shrink-0 size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"
              ></path><circle cx="12" cy="7" r="4"></circle></svg
            >
            Log in
          </a>
        </div>
      </div>
    </nav>
  </header>
  <!-- ========== END HEADER ========== -->

  <body>
    <slot />
  </body>

  <!-- ========== FOOTER ========== -->
  <footer class="relative overflow-hidden bg-neutral-900">
    <svg
      class="absolute -bottom-20 start-1/2 w-[1900px] transform -translate-x-1/2"
      width="2745"
      height="488"
      viewBox="0 0 2745 488"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0.5 330.864C232.505 403.801 853.749 527.683 1482.69 439.719C2111.63 351.756 2585.54 434.588 2743.87 487"
        class="stroke-yellow-700/50"
        stroke="currentColor"></path>
      <path
        d="M0.5 308.873C232.505 381.81 853.749 505.692 1482.69 417.728C2111.63 329.765 2585.54 412.597 2743.87 465.009"
        class="stroke-yellow-700/50"
        stroke="currentColor"></path>
      <path
        d="M0.5 286.882C232.505 359.819 853.749 483.701 1482.69 395.738C2111.63 307.774 2585.54 390.606 2743.87 443.018"
        class="stroke-yellow-700/50"
        stroke="currentColor"></path>
      <path
        d="M0.5 264.891C232.505 337.828 853.749 461.71 1482.69 373.747C2111.63 285.783 2585.54 368.615 2743.87 421.027"
        class="stroke-yellow-700/50"
        stroke="currentColor"></path>
      <path
        d="M0.5 242.9C232.505 315.837 853.749 439.719 1482.69 351.756C2111.63 263.792 2585.54 346.624 2743.87 399.036"
        class="stroke-yellow-700/50"
        stroke="currentColor"></path>
      <path
        d="M0.5 220.909C232.505 293.846 853.749 417.728 1482.69 329.765C2111.63 241.801 2585.54 324.633 2743.87 377.045"
        class="stroke-yellow-700/50"
        stroke="currentColor"></path>
      <path
        d="M0.5 198.918C232.505 271.855 853.749 395.737 1482.69 307.774C2111.63 219.81 2585.54 302.642 2743.87 355.054"
        class="stroke-yellow-700/50"
        stroke="currentColor"></path>
      <path
        d="M0.5 176.927C232.505 249.864 853.749 373.746 1482.69 285.783C2111.63 197.819 2585.54 280.651 2743.87 333.063"
        class="stroke-yellow-700/50"
        stroke="currentColor"></path>
      <path
        d="M0.5 154.937C232.505 227.873 853.749 351.756 1482.69 263.792C2111.63 175.828 2585.54 258.661 2743.87 311.072"
        class="stroke-yellow-700/50"
        stroke="currentColor"></path>
      <path
        d="M0.5 132.946C232.505 205.882 853.749 329.765 1482.69 241.801C2111.63 153.837 2585.54 236.67 2743.87 289.082"
        class="stroke-yellow-700/50"
        stroke="currentColor"></path>
      <path
        d="M0.5 110.955C232.505 183.891 853.749 307.774 1482.69 219.81C2111.63 131.846 2585.54 214.679 2743.87 267.091"
        class="stroke-yellow-700/50"
        stroke="currentColor"></path>
      <path
        d="M0.5 88.9639C232.505 161.901 853.749 285.783 1482.69 197.819C2111.63 109.855 2585.54 192.688 2743.87 245.1"
        class="stroke-yellow-700/50"
        stroke="currentColor"></path>
      <path
        d="M0.5 66.9729C232.505 139.91 853.749 263.792 1482.69 175.828C2111.63 87.8643 2585.54 170.697 2743.87 223.109"
        class="stroke-yellow-700/50"
        stroke="currentColor"></path>
      <path
        d="M0.5 44.9819C232.505 117.919 853.749 241.801 1482.69 153.837C2111.63 65.8733 2585.54 148.706 2743.87 201.118"
        class="stroke-yellow-700/50"
        stroke="currentColor"></path>
      <path
        d="M0.5 22.991C232.505 95.9276 853.749 219.81 1482.69 131.846C2111.63 43.8824 2585.54 126.715 2743.87 179.127"
        class="stroke-yellow-700/50"
        stroke="currentColor"></path>
      <path
        d="M0.5 1C232.505 73.9367 853.749 197.819 1482.69 109.855C2111.63 21.8914 2585.54 104.724 2743.87 157.136"
        class="stroke-yellow-700/50"
        stroke="currentColor"></path>
    </svg>

    <div class="relative z-10">
      <div class="w-full max-w-5xl px-4 xl:px-0 py-10 lg:pt-16 mx-auto">
        <div class="inline-flex items-center">
          <!-- Logo -->
          <div class="text-yellow-400">
            <svg
              width="238.7275390625px"
              height="122px"
              viewBox="130.63623046875 14 238.7275390625 122"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              style="none"
              preserveAspectRatio="xMidYMid"
              ><defs
                ><linearGradient
                  id="editing-halftone-gradient"
                  x1="0.5"
                  y1="0.2"
                  x2="0.5"
                  y2="0.8"
                  gradientUnits="objectBoundingBox"
                  ><stop offset="0" stop-color="#FFFF00" stop-opacity="0.8"
                  ></stop><stop
                    offset="0.5"
                    stop-color="#83a79d"
                    stop-opacity="0.9"></stop><stop
                    offset="1"
                    stop-color="#4d695d"
                    stop-opacity="1"></stop></linearGradient
                ><filter id="editing-halftone"
                  ><feFlood result="color" flood-color="red" in="GraphicAlpha"
                  ></feFlood><feImage
                    xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAwcHgiIGhlaWdodD0iMTAwMHB4Ij4KICA8ZGVmcz4KICAgIDxwYXR0ZXJuIGlkPSJwYXR0ZXJuIiBwYXR0ZXJuVW5pdHM9InVzZXJTcGFjZU9uVXNlIiB3aWR0aD0iNS42IiBoZWlnaHQ9IjUuNiI+CiAgICAgIDxjaXJjbGUgY3g9IjIuOCIgY3k9IjIuOCIgcj0iMS44IiBmaWxsPSJyZWQiLz4KICAgIDwvcGF0dGVybj4KICA8L2RlZnM+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNwYXR0ZXJuKSIvPgo8L3N2Zz4="
                    x="0"
                    y="0"
                    width="1000px"
                    height="1000px"
                    result="image"></feImage><feTile in="image" result="tile"
                  ></feTile><feComposite
                    operator="in"
                    in="SourceGraphic"
                    in2="tile"
                    result="dot"></feComposite><feComposite
                    operator="in"
                    in="dot"
                    in2="SourceGraphic"
                    result="dotted"></feComposite><feGaussianBlur
                    in="dotted"
                    stdDeviation="0.8"></feGaussianBlur><feComponentTransfer
                    result="cutoff"
                    ><feFuncA type="linear" slope="10" intercept="-3"
                    ></feFuncA></feComponentTransfer
                  ></filter
                ></defs
              ><g filter="url(#editing-halftone)"
                ><g transform="translate(171.18799805641174, 97.39999961853027)"
                  ><path
                    d="M14.14 0L0.51 0L7.81-38.91L8.51-42.24L22.21-42.24L14.14 0ZM40.13-3.78L40.13-3.78L40.13-3.78Q38.40 1.28 31.74 1.28L31.74 1.28L31.74 1.28Q26.82 1.28 23.42-4.61L23.42-4.61L23.42-4.61Q19.97-10.50 19.33-20.10L19.33-20.10L19.33-20.10Q26.37-32.96 31.23-38.27L31.23-38.27L31.23-38.27Q35.90-43.33 40.77-43.33L40.77-43.33L40.77-43.33Q43.39-43.33 45.28-41.92L45.28-41.92L45.28-41.92Q47.17-40.51 47.62-38.27L47.62-38.27L47.62-38.27Q45.44-37.38 44.42-36.67L44.42-36.67L44.42-36.67Q41.86-34.75 38.40-30.46L38.40-30.46L32.58-23.49L32.58-23.49Q31.17-21.82 30.59-21.06L30.59-21.06L30.59-21.06Q31.55-15.68 34.43-10.37L34.43-10.37L34.43-10.37Q37.18-5.31 40.13-3.78ZM44.93-0.32L44.93-0.32L52.99-42.24L52.99-42.24Q60.54-42.88 65.41-42.88L65.41-42.88L65.41-42.88Q70.27-42.88 73.41-42.46L73.41-42.46L73.41-42.46Q76.54-42.05 78.66-40.96L78.66-40.96L78.66-40.96Q82.88-38.91 82.88-33.28L82.88-33.28L82.88-33.28Q82.88-30.02 80.06-27.26L80.06-27.26L80.06-27.26Q77.44-24.77 74.56-24.19L74.56-24.19L74.56-24.19Q77.63-23.68 79.81-21.38L79.81-21.38L79.81-21.38Q82.11-18.94 82.11-15.17L82.11-15.17L82.11-15.17Q82.11-7.87 76.67-3.62L76.67-3.62L76.67-3.62Q71.23 0.64 60.54 0.64L60.54 0.64L60.54 0.64Q53.18 0.64 44.93-0.32ZM62.34-20.61L59.14-4.03L59.14-4.03Q59.71-3.97 59.84-3.97L59.84-3.97L60.42-3.97L60.42-3.97Q65.66-3.97 67.90-7.42L67.90-7.42L67.90-7.42Q69.57-10.11 69.57-15.04L69.57-15.04L69.57-15.04Q69.57-17.66 67.87-19.07L67.87-19.07L67.87-19.07Q66.18-20.48 62.34-20.61L62.34-20.61ZM72.06-33.22L72.06-33.22L72.06-33.22Q72.06-38.53 66.94-38.53L66.94-38.53L66.37-38.53L66.37-38.53Q66.11-38.53 65.73-38.46L65.73-38.46L63.17-24.96L63.81-24.96L63.81-24.96Q72.06-25.15 72.06-33.22ZM87.30-39.68L87.30-39.68L87.30-39.68Q89.15-43.52 94.30-43.52L94.30-43.52L94.30-43.52Q99.46-43.52 101.86-40.54L101.86-40.54L101.86-40.54Q104.26-37.57 104.26-30.72L104.26-30.72L104.26-7.87L119.81-42.18L127.42-42.18L107.52 0L92.54 0L90.62-30.72L90.62-30.72Q90.43-34.11 89.50-36.42L89.50-36.42L89.50-36.42Q88.58-38.72 87.30-39.68ZM152.19-9.86L152.19-9.86L152.19-9.86Q153.41-8.32 153.41-5.82L153.41-5.82L153.41-5.82Q153.41-2.37 150.85-0.54L150.85-0.54L150.85-0.54Q148.29 1.28 144.26 1.28L144.26 1.28L144.26 1.28Q141.95 1.28 138.43 0.77L138.43 0.77L138.43 0.77Q131.52-0.32 129.41-0.32L129.41-0.32L129.41-0.32Q127.30-0.32 126.46-0.22L126.46-0.22L126.46-0.22Q125.63-0.13 124.29 0L124.29 0L132.16-42.24L159.74-42.24L159.74-42.24Q159.74-38.34 157.86-36.29L157.86-36.29L157.86-36.29Q155.97-34.24 152.26-34.24L152.26-34.24L152.26-34.24Q148.54-34.24 144.77-35.97L144.77-35.97L142.78-24.77L154.18-24.77L154.18-24.77Q154.18-21.38 152.51-19.49L152.51-19.49L152.51-19.49Q150.85-17.60 148.06-17.60L148.06-17.60L148.06-17.60Q145.28-17.60 143.55-18.24L143.55-18.24L143.55-18.24Q141.82-18.88 141.63-19.07L141.63-19.07L139.33-6.98L139.33-6.98Q140.86-6.78 143.74-6.78L143.74-6.78L143.74-6.78Q148.67-6.78 152.19-9.86Z"
                    fill="url(#editing-halftone-gradient)"></path></g
                ></g
              ><style>
                text {
                  font-size: 64px;
                  font-family: Arial Black;
                  dominant-baseline: central;
                  text-anchor: middle;
                }
              </style></svg
            >
          </div>
          <!-- End Logo -->

          <div class="border-s border-yellow-700 ps-5 ms-5">
            <p class="text-sm text-yellow-400">
              2024 CryptoThrone.com - WebEnclave & KBVE
            </p>

			<div class="m-4 space-x-4">
				<a href="#_" class="relative px-5 py-2 font-medium text-white group">
					<span class="absolute inset-0 w-full h-full transition-all duration-300 ease-out transform translate-x-0 -skew-x-12 bg-yellow-500 group-hover:bg-yellow-700 group-hover:skew-x-12"></span>
					<span class="absolute inset-0 w-full h-full transition-all duration-300 ease-out transform skew-x-12 bg-yellow-700 group-hover:bg-yellow-500 group-hover:-skew-x-12"></span>
					<span class="absolute bottom-0 left-0 hidden w-10 h-20 transition-all duration-100 ease-out transform -translate-x-8 translate-y-10 bg-yellow-600 -rotate-12"></span>
					<span class="absolute bottom-0 right-0 hidden w-10 h-20 transition-all duration-100 ease-out transform translate-x-10 translate-y-8 bg-yellow-400 -rotate-12"></span>
					<span class="relative">Legal</span>
				</a>

				<a href="#_" class="relative px-5 py-2 font-medium text-white group">
					<span class="absolute inset-0 w-full h-full transition-all duration-300 ease-out transform translate-x-0 -skew-x-12 bg-yellow-500 group-hover:bg-yellow-700 group-hover:skew-x-12"></span>
					<span class="absolute inset-0 w-full h-full transition-all duration-300 ease-out transform skew-x-12 bg-yellow-700 group-hover:bg-yellow-500 group-hover:-skew-x-12"></span>
					<span class="absolute bottom-0 left-0 hidden w-10 h-20 transition-all duration-100 ease-out transform -translate-x-8 translate-y-10 bg-yellow-600 -rotate-12"></span>
					<span class="absolute bottom-0 right-0 hidden w-10 h-20 transition-all duration-100 ease-out transform translate-x-10 translate-y-8 bg-yellow-400 -rotate-12"></span>
					<span class="relative">ToS</span>
				</a>

				<a href="#_" class="relative px-5 py-2 font-medium text-white group">
					<span class="absolute inset-0 w-full h-full transition-all duration-300 ease-out transform translate-x-0 -skew-x-12 bg-yellow-500 group-hover:bg-yellow-700 group-hover:skew-x-12"></span>
					<span class="absolute inset-0 w-full h-full transition-all duration-300 ease-out transform skew-x-12 bg-yellow-700 group-hover:bg-yellow-500 group-hover:-skew-x-12"></span>
					<span class="absolute bottom-0 left-0 hidden w-10 h-20 transition-all duration-100 ease-out transform -translate-x-8 translate-y-10 bg-yellow-600 -rotate-12"></span>
					<span class="absolute bottom-0 right-0 hidden w-10 h-20 transition-all duration-100 ease-out transform translate-x-10 translate-y-8 bg-yellow-400 -rotate-12"></span>
					<span class="relative">EULA</span>
				</a>

				<a href="#_" class="relative px-5 py-2 font-medium text-white group">
					<span class="absolute inset-0 w-full h-full transition-all duration-300 ease-out transform translate-x-0 -skew-x-12 bg-yellow-500 group-hover:bg-yellow-700 group-hover:skew-x-12"></span>
					<span class="absolute inset-0 w-full h-full transition-all duration-300 ease-out transform skew-x-12 bg-yellow-700 group-hover:bg-yellow-500 group-hover:-skew-x-12"></span>
					<span class="absolute bottom-0 left-0 hidden w-10 h-20 transition-all duration-100 ease-out transform -translate-x-8 translate-y-10 bg-yellow-600 -rotate-12"></span>
					<span class="absolute bottom-0 right-0 hidden w-10 h-20 transition-all duration-100 ease-out transform translate-x-10 translate-y-8 bg-yellow-400 -rotate-12"></span>
					<span class="relative">Privacy</span>
				</a>
			</div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ========== END FOOTER ========== -->

  <style is:global>
    :root {
      --accent: 136, 58, 234;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
      );
    }

    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }
  </style>
</html>
