---
/** @jsxImportSource astro */
import ReactFooter from 'src/layout/template/footer/ReactFooter';
---

<footer class="relative mt-8">
	<!-- Gradient background -->
	<div class="absolute inset-x-0 -top-32 h-48 bg-gradient-to-b from-[#28243d] to-transparent pointer-events-none" data-footer-prefold></div>
	
	<div class="relative max-w-7xl mx-auto px-6">
		<div class="bg-[#312d4b] p-4 rounded shadow-xl border-purple-500/20 hover:border-purple-500 border-1 transition-all duration-200">
			<ReactFooter client:only="react" />
		</div>
	</div>
</footer>