---
/** @jsxImportSource astro */
import ReactFooter from 'src/layout/template/footer/ReactFooter';
---

<footer class="mt-8">
	<div class="max-w-7xl mx-auto px-6">
		<div class="bg-[#312d4b] p-4 rounded shadow-xl border-purple-500/20 hover:border-purple-500 border-1 transition-all duration-200">
			<ReactFooter client:visible />
		</div>
	</div>
</footer>