/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  .animate-float {
    animation: float 3s ease-in-out infinite;
  }
  .animate-float-slow {
    animation: float 5s ease-in-out infinite;
  }
  .animate-float-fast {
    animation: float 2s ease-in-out infinite;
  }

@layer components {
    .card-tile {
      @apply bg-[#312d4b] p-4 rounded shadow-xl border-purple-500/20 hover:border-purple-500 border md:col-span-2 md:row-span-2;
    }
    .bento-grid-3 {
      @apply grid gap-6 grid-cols-1 md:grid-cols-3 auto-rows-auto grid-flow-dense;
    }
  }

  