---
import DiscordServerCarousel from 'src/layout/svelte/carousel/DiscordServerCarousel.svelte';

---

<div class="md:col-span-3 bg-[#312d4b] p-4 rounded shadow-xl border-purple-500/20 hover:border-purple-500 border-1 overflow-visible min-h-[320px]">
    <DiscordServerCarousel client:only="svelte" />
</div>