---
import ReactGrafanaDashRN from './ReactGrafanaDashRN';
import RnDashSkeleton from '@/components/dashboard/RnDashSkeleton.astro';
---

<div class="grafana-rn not-content">
	<ReactGrafanaDashRN client:only="react">
		<RnDashSkeleton slot="fallback" />
	</ReactGrafanaDashRN>
</div>

<style>
	.grafana-rn {
		min-height: 60vh;
	}
</style>
