---
import Layout from '../../layouts/Layout.astro';
// import { AstroVe as VE } from '@kbve/astro-ve';


let title = "KBVE Tools: Unleash Your Digital Potential";
let description = 
    'Discover the ultimate toolkit at KBVE Tools, where gaming meets development, and endless possibilities await! Our platform offers an extensive collection of tools designed to enhance your gaming experience, streamline your development projects, and explore a wide range of digital adventures. From cutting-edge software to innovative utilities, KBVE Tools is your go-to destination for elevating your online world.';
---
<Layout title={title} description={description}>
    <section class="flex flex-col md:flex-row md:flex-wrap gap-2 mx-auto w-full justify-around">

    
      <div class="flex grow bg-zinc-950 border border-cyan-200 rounded-2xl p-4">  
        <div class="flex items-center grow">
          <div class="inline-flex flex-shrink-0 justify-center items-center w-12 h-12 text-white bg-gradient-to-br from-pink-500 to-voilet-500 rounded-lg mr-3">
              <svg class="w-8 h-8" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path></svg>
          </div>
          <div class="flex-shrink-0 ml-3">
            <span class="text-2xl font-bold leading-none text-gray-200 sm:text-3xl">$3,600</span>
            <h3 class="text-base font-normal text-gray-200">Today's Money</h3>
          </div>
          <div class="flex flex-1 justify-end items-center ml-5 w-0 text-base font-bold text-teal-500">
            +16%
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
            </svg>
          </div>
        </div>
    </div>

    
    <div class="flex grow  bg-zinc-950 border border-cyan-200 rounded-2xl p-4">  
        <div class="flex items-center grow">
          <div class="inline-flex flex-shrink-0 justify-center items-center w-12 h-12 text-white bg-gradient-to-br from-pink-500 to-voilet-500 rounded-lg mr-3">
              <svg class="w-8 h-8" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path></svg>
          </div>
          <div class="flex-shrink-0 ml-3">
            <span class="text-2xl font-bold leading-none text-gray-200 sm:text-3xl">$3,600</span>
            <h3 class="text-base font-normal text-gray-200">Today's Money</h3>
          </div>
          <div class="flex flex-1 justify-end items-center ml-5 w-0 text-base font-bold text-teal-500">
            +16%
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
            </svg>
          </div>
        </div>
    </div>
    
    <div class="flex grow bg-zinc-950 border border-cyan-200 rounded-2xl p-4">  
        <div class="flex items-center grow">
          <div class="inline-flex flex-shrink-0 justify-center items-center w-12 h-12 text-white bg-gradient-to-br from-pink-500 to-voilet-500 rounded-lg mr-3">
              <svg class="w-8 h-8" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path></svg>
          </div>
          <div class="flex-shrink-0 ml-3">
            <span class="text-2xl font-bold leading-none text-gray-200 sm:text-3xl">$3,600</span>
            <h3 class="text-base font-normal text-gray-200">Today's Money</h3>
          </div>
          <div class="flex flex-1 justify-end items-center ml-5 w-0 text-base font-bold text-teal-500">
            +16%
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
            </svg>
          </div>
        </div>
    </div>

    <div class="flex grow bg-zinc-950 border border-cyan-200 rounded-2xl p-4">  
      <div class="flex items-center grow">
        <div class="inline-flex flex-shrink-0 justify-center items-center w-12 h-12 text-white bg-gradient-to-br from-pink-500 to-voilet-500 rounded-lg mr-3">
            <svg class="w-8 h-8" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path></svg>
        </div>
        <div class="flex-shrink-0 ml-3">
          <span class="text-2xl font-bold leading-none text-gray-200 sm:text-3xl">$3,600</span>
          <h3 class="text-base font-normal text-gray-200">Today's Money</h3>
        </div>
        <div class="flex flex-1 justify-end items-center ml-5 w-0 text-base font-bold text-teal-500">
          +16%
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
          </svg>
        </div>
      </div>
  </div>




    </section>
</Layout>