/* Dark mode colors. */
:root {
  --primary-button-hover: #06b6d4;
  --backdrop-color: #272727cc;

  --sl-color-accent: #06b6d4;
  --sl-color-accent-high: #06b6d4; /* cyan-500 */
  --sl-color-accent-low: #083344;  /* cyan-900 */

  --sl-color-black: #181818;
  --sl-color-gray-1: #eee;
  --sl-color-gray-2: #c2c2c2;
  --sl-color-gray-3: #8b8b8b;
  --sl-color-gray-4: #585858;
  --sl-color-gray-5: #383838;
  --sl-color-gray-6: #272727;
  --sl-color-white: #fff;

  --yellow-hsl: 180, 96.4%, 56.3%; /* cyan hue */
  --overlay-yellow: hsla(var(--yellow-hsl), .2);
}

/* Light mode colors. */
:root[data-theme='light'] {
  --primary-button-hover: #06b6d4;
  --backdrop-color: #f6f6f699;

  --sl-color-accent: #06b6d4;
  --sl-color-accent-high: #06b6d4; /* cyan-500 */
  --sl-color-accent-low: #083344;  /* cyan-900 */

  --sl-color-black: #fff;
  --sl-color-gray-1: #272727;
  --sl-color-gray-2: #383838;
  --sl-color-gray-3: #585858;
  --sl-color-gray-4: #8b8b8b;
  --sl-color-gray-5: #c2c2c2;
  --sl-color-gray-6: #eee;
  --sl-color-gray-7: #f6f6f6;
  --sl-color-white: #181818;

  --yellow-hsl: 180, 96.4%, 56.3%; /* also cyan here */
}

.page {
    background: linear-gradient(215deg, var(--overlay-yellow), transparent 40%), radial-gradient(var(--overlay-yellow), transparent 40%) no-repeat center center / cover, radial-gradient(var(--overlay-yellow), transparent 65%) no-repeat center center / cover;
    background-blend-mode: overlay;
}

header {
    backdrop-filter: blur(12px) !important;
    background-color: var(--backdrop-color) !important;
}

select {
    background-image: none;
    box-shadow: none;
}

.sl-flex.action.primary:hover {
    background-color: var(--primary-button-hover);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sl-flex.action.primary:hover svg {
    transform: translateX(0.25rem);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}