name: Python Package Test

on:
    workflow_call:
        inputs:
            project:
                required: true
                type: string

jobs:
    test:
        name: Test ${{ inputs.project }} Python Package
        runs-on: ubuntu-latest
        permissions:
            contents: read

        steps:
            - name: Checkout the monorepo
              uses: actions/checkout@v6

            - name: Setup Node v24
              uses: actions/setup-node@v6
              with:
                  node-version: 24

            - name: Setup pnpm v10
              uses: pnpm/action-setup@v4
              with:
                  version: 10
                  run_install: false

            - name: Get pnpm Store Path
              id: pnpm-store
              run: echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_OUTPUT

            - name: Setup pnpm Cache
              uses: actions/cache@v5
              with:
                  path: ${{ steps.pnpm-store.outputs.STORE_PATH }}
                  key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml', 'package.json') }}
                  restore-keys: |
                      ${{ runner.os }}-pnpm-store-

            - name: Install pnpm Dependencies
              run: pnpm install

            - name: Setup Python
              uses: actions/setup-python@v6
              with:
                  python-version: '3.12'

            - name: Install uv
              uses: astral-sh/setup-uv@v7

            - name: Nx e2e ${{ inputs.project }}
              run: pnpm nx e2e ${{ inputs.project }} --no-cloud
