name: Rust Crate Test

on:
    workflow_call:
        inputs:
            package:
                required: true
                type: string

jobs:
    test:
        runs-on: ubuntu-latest
        permissions:
            contents: read

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Rust ToolChain
              uses: dtolnay/rust-toolchain@stable
              with:
                  components: clippy

            - name: Setup Node v24
              uses: actions/setup-node@v4
              with:
                  node-version: 24

            - name: Setup pnpm v10
              uses: pnpm/action-setup@v4
              with:
                  version: 10
                  run_install: false

            - name: Get pnpm Store Path
              id: pnpm-store
              run: echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_OUTPUT

            - name: Setup pnpm Cache
              uses: actions/cache@v5
              with:
                  path: ${{ steps.pnpm-store.outputs.STORE_PATH }}
                  key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml', 'package.json') }}
                  restore-keys: |
                      ${{ runner.os }}-pnpm-store-

            - name: Install pnpm Dependencies
              run: pnpm install

            - name: Nx e2e ${{ inputs.package }}
              run: pnpm nx e2e ${{ inputs.package }} --no-cloud
