---
import Layout from 'src/layouts/core/Layout.astro';
import MemberCard from 'src/layouts/client/supabase/profile/member/MemberCard';
import UserTransferRPC from 'src/layouts/client/supabase/igbc/transfer/UserTransferRPC';
import MembersOnly from 'src/layouts/client/supabase/auth/MembersOnly'; // <MembersOnly client:only="react" />

const pageTitle: string = `IGBC | Iron Guild Binary Clan`;
const title: string = `Iron Guild Binary Clan (IGBC)`;
const subTitle: string = `The Banking Clan of KBVE`;
---

<Layout title={pageTitle}>
  <section class="px-6 pt-12 sm:px-8 lg:px-12">

     <MembersOnly client:only="react" />
    <div class="mx-auto max-w-3xl flex flex-col items-center text-center gap-4">
      <h1 class="text-4xl sm:text-5xl font-bold text-cyan-800 dark:text-cyan-200 mb-2 drop-shadow-lg">{title}</h1>
      <h2 class="text-xl text-neutral-700 dark:text-zinc-200 mb-4 font-medium">{subTitle}</h2>
      <p class="text-base text-neutral-600 dark:text-neutral-300 max-w-2xl mb-6">
        Welcome to the IGBC, the financial heart of the KBVE community. Here you can view your account, transfer credits or khash, and manage your digital assets securely.
      </p>
    </div>
    <div class="mx-auto max-w-3xl flex flex-col md:flex-row gap-8 items-start mt-8">
      <div class="flex-1 w-full">
        <MemberCard client:only="react" />
      </div>
      <div class="flex-1 w-full">
        <UserTransferRPC client:only="react" />
      </div>
    </div>
  </section>
</Layout>