---
import Layout from 'src/layouts/core/Layout.astro';
import BentoGrid from 'src/layouts/components/bento/BentoGrid.astro';
import BentoTile from 'src/layouts/components/bento/BentoTile.astro';
import Hero from 'src/layouts/components/hero/Hero.astro';
import NeoGlassBentoTile from 'src/layouts/components/bento/NeoGlassBentoTile.astro';

import TiltDeck from 'src/layouts/components/deck/tilt/TiltDeck.astro';
import ClientSection from 'src/layouts/components/section/clientsection/ClientsSection.astro';
//import MiniMap from 'src/layouts/components/league-minimap/MiniMap.astro';
// import OceanPanel from 'src/layouts/components/panel/OceanPanel.astro';
import NeoGlassPanel from 'src/layouts/components/panel/NeoGlassPanel.astro';
import QuadGlassPanel from 'src/layouts/components/panel/QuadGlassPanel.astro';

import SimpleGlassImagePanel from 'src/layouts/components/panel/SimpleGlassImagePanel.astro';

function withBaseUrl(path: string, base: URL | string): string {
	return new URL(path, base).toString();
}

const discordUrl = withBaseUrl('/discord', Astro.url);

const tiles = [
	{
		title: 'Join Our Tech & Gaming Community!',
		subtitle: 'Our Discord is active and fun!',
		description:
			"From cloud-native development to competitive gaming, we're here to help you level up! Whether you're containerizing apps or climbing ranked, our community's got your back.",
		span: 'col-span-3 row-span-1',
		primaryColor: 'emerald-500',
		secondaryColor: 'cyan-600',
		href: withBaseUrl('/discord', Astro.url),
		target: '_self',
		icon: '🎮',
	},
] as const;

const FudsterDescription = `<div class="lg:col-span-5 lg:col-start-1"><div class="mb-8"> <h2 class="mb-2 text-3xl font-bold text-neutral-800 dark:text-neutral-200 lg:text-4xl"> Join Our Growing Community </h2> <p class="text-neutral-600 dark:text-neutral-300"> Experience the power of a community that combines professional development with competitive gaming </p> </div> <!-- Generate a blockquote for each testimonial in the testimonials array by mapping over the array. --> <blockquote class="relative"> <svg class="absolute start-0 top-0 h-16 w-16 -translate-x-6 -translate-y-8 transform text-neutral-300 dark:text-neutral-700" height="16" viewBox="0 0 16 16" width="16" fill="currentColor"><title></title><path d="M7.39762 10.3C7.39762 11.0733 7.14888 11.7 6.6514 12.18C6.15392 12.6333 5.52552 12.86 4.76621 12.86C3.84979 12.86 3.09047 12.5533 2.48825 11.94C1.91222 11.3266 1.62421 10.4467 1.62421 9.29999C1.62421 8.07332 1.96459 6.87332 2.64535 5.69999C3.35231 4.49999 4.33418 3.55332 5.59098 2.85999L6.4943 4.25999C5.81354 4.73999 5.26369 5.27332 4.84476 5.85999C4.45201 6.44666 4.19017 7.12666 4.05926 7.89999C4.29491 7.79332 4.56983 7.73999 4.88403 7.73999C5.61716 7.73999 6.21938 7.97999 6.69067 8.45999C7.16197 8.93999 7.39762 9.55333 7.39762 10.3ZM14.6242 10.3C14.6242 11.0733 14.3755 11.7 13.878 12.18C13.3805 12.6333 12.7521 12.86 11.9928 12.86C11.0764 12.86 10.3171 12.5533 9.71484 11.94C9.13881 11.3266 8.85079 10.4467 8.85079 9.29999C8.85079 8.07332 9.19117 6.87332 9.87194 5.69999C10.5789 4.49999 11.5608 3.55332 12.8176 2.85999L13.7209 4.25999C13.0401 4.73999 12.4903 5.27332 12.0713 5.85999C11.6786 6.44666 11.4168 7.12666 11.2858 7.89999C11.5215 7.79332 11.7964 7.73999 12.1106 7.73999C12.8437 7.73999 13.446 7.97999 13.9173 8.45999C14.3886 8.93999 14.6242 9.55333 14.6242 10.3Z" class=""></path></svg> <div class="relative z-10"> <p class="text-xl italic text-neutral-800 dark:text-neutral-200"> Found my coding mentor and League duo partner here. The KBVE community has helped me grow both professionally and in gaming. The support is incredible! </p> </div> <div class="mt-6"> <div class="flex items-center"> <div class="flex-shrink-0"> <img src="https://cdn.discordapp.com/avatars/256263372977209355/8f182cbafeea26bcad88797a7c8f580d.webp?size=240" alt="Avatar Description" loading="eager" width="400" height="400" decoding="async" class="h-8 w-8 rounded-full"> </div> <div class="ms-4 grow"> <div class="font-bold text-neutral-800 dark:text-neutral-200"> Bradley (aka Fudster) </div> <div class="text-xs text-neutral-500">IT Professional &amp; League Player</div> </div> </div> </div> </blockquote> </div>`;
const GithubDescription = ` Join our open-source community built on Node.js, Rust, Docker, Python, and C#. Whether you're coding or gaming, there's a place for you here!`;

const glassTiles = [
	{
		title: '<img src="https://cdn.discordapp.com/avatars/256263372977209355/8f182cbafeea26bcad88797a7c8f580d.webp?size=240" alt="Avatar Description" loading="eager" width="400" height="400" decoding="async" class="h-16 w-16 rounded-full"> Bradley (aka Fudster)',
		icon: '🧀',
		subtitle: 'Check our Discord!',
		description: FudsterDescription,
		href: discordUrl,
		backgroundImage: 'https://images.unsplash.com/photo-1511113897571-447d6bc7b6b1??q=80&w=500&auto=format&fit=crop',
		target: '_self',
		span: 'col-span-3 row-span-3',
		primaryColor: 'cyan-500',
		secondaryColor: 'stone-900',
		onclick: `window.kbve?.uiux?.openPanel?.('bottom', { title: 'Vanilla Triggered', rawHtml: '<p>This is a test</p>' })`,
	},
	{
		title: '<img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Logo" loading="eager" width="400" height="400" decoding="async" class="h-16 w-16 rounded-full"> Open Source on GitHub',
		icon: '🐙',
		subtitle: 'Explore Our GitHub!',
		description: GithubDescription,
		href: 'https://github.com/KBVE',
		backgroundImage: 'https://images.unsplash.com/photo-1550439062-609e1531270e?q=80&w=500&auto=format&fit=crop',
		target: '_blank',
		span: 'col-span-2 row-span-3',
		primaryColor: 'gray-800',
		secondaryColor: 'zinc-900',
		onclick: `window.kbve?.uiux?.openPanel?.('bottom', { title: 'GitHub Projects', rawHtml: '<p>Explore our open-source repositories!</p>' })`,
	},
	{
		title: '<img src="https://www.docker.com/wp-content/uploads/2022/03/vertical-logo-monochromatic.png" alt="Docker Logo" loading="eager" width="400" height="400" decoding="async" class="h-16 w-16 rounded-full"> Docker Hub',
		icon: '🐳',
		subtitle: 'Docker Images',
		description: 'Check out our latest containerized projects and community images on Docker Hub!',
		href: 'https://hub.docker.com/u/kbve',
		backgroundImage: 'https://images.unsplash.com/photo-1525540810550-5032f5d191b1?q=80&w=500&auto=format&fit=crop',
		target: '_blank',
		span: 'col-span-1 row-span-1',
		primaryColor: 'blue-500',
		secondaryColor: 'blue-900',
		onclick: `window.kbve?.uiux?.openPanel?.('bottom', { title: 'Docker Hub', rawHtml: '<p>Explore our Docker images!</p>' })`,
	},
	{
		title: '<img src="https://www.rust-lang.org/static/images/rust-logo-blk.svg" alt="Rust Logo" loading="eager" width="400" height="400" decoding="async" class="h-16 w-16 rounded-full"> Rust Community',
		icon: '🦀',
		subtitle: 'Rustaceans Welcome!',
		description: 'Collaborate, learn, and contribute with fellow Rustaceans on our KBVE Rust community page!',
		href: 'https://kbve.com/application/rust/',
		backgroundImage: 'https://images.unsplash.com/photo-1542284530-c2eaee96fc98?q=80&w=500&auto=format&fit=crop',
		target: '_blank',
		span: 'col-span-1 row-span-1',
		primaryColor: 'orange-500',
		secondaryColor: 'gray-900',
		onclick: `window.kbve?.uiux?.openPanel?.('bottom', { title: 'Rust Community', rawHtml: '<p>Join our Rust projects and discussions!</p>' })`,
	},
] as const;
---

<Layout title="KBVE KiloByte Virtual Enterprise">
	<Hero />

	<NeoGlassPanel />
	<!-- <OceanPanel /> -->
	<TiltDeck />


	<QuadGlassPanel />
	
	<ClientSection
		title="KBVE Community: Where Code Meets Gaming"
		subTitle="Join fellow developers and gamers in a space where cloud-native solutions meet competitive gaming excellence"
	/>

	<SimpleGlassImagePanel />

	<BentoGrid>
		{tiles.map((tile) => <BentoTile {...tile} />)}

		{glassTiles.map((glassTile) => <NeoGlassBentoTile {...glassTile} />)}
	</BentoGrid>
</Layout>

<script is:inline>
	async function injectBentoTileFromFooter() {
		while (
			!window.kbve?.mod ||
			Object.keys(window.kbve.mod.registry).length === 0
		) {
			console.log('[Injection]: Mod Not Found');
			await new Promise((resolve) => setTimeout(resolve, 100));
		}

		const modId = Object.keys(window.kbve.mod.registry).find((id) =>
			id.startsWith('bento@')
		);

		if (!modId) {
			console.warn('[Footer] Bento mod not found');
			return;
		}

		const bento = window.kbve.mod.registry[modId];

		if (bento?.instance?.run) {
			console.log('[Footer] Injecting Bento Tile');
			bento.instance.run({
				title: 'Vanilla Triggered',
				icon: '🔗',
				subtitle: 'From outside the ecosystem',
				description: 'This tile was triggered via vanilla JS.',
				primaryColor: 'teal-500',
				secondaryColor: 'cyan-600',
				variant: 'default',
				span: 'md:col-span-1 md:row-span-1',
				className:
					'hover:drop-shadow-pink-600/60 drop-shadow-rose-500/50',
				onclick: `window.kbve?.uiux?.openPanel?.('bottom', { title: 'Vanilla Triggered', rawHtml: '<p>This is a test</p>' })`,
			});
		} else {
			console.warn('[Footer] Bento mod loaded, but run() not available');
		}
	}

	document.addEventListener('astro:page-load', injectBentoTileFromFooter);
</script>
