---
import Layout from 'src/layouts/core/Layout.astro';
import UserData from 'src/layouts/client/supabase/profile/UserData';
const pageTitle: string = `Profile | KBVE`;
const title: string = `Your Profile`;
const subTitle: string = `Manage your KBVE account details`;
---

<Layout title={pageTitle}>
  <section class="px-6 py-12 sm:px-8 lg:px-12">
    <div class="mx-auto max-w-4xl flex flex-col items-center">
      <h1 class="text-4xl sm:text-5xl font-bold text-neutral-900 dark:text-white mb-2 drop-shadow-lg">{title}</h1>
      <h2 class="text-xl text-neutral-700 dark:text-zinc-200 mb-4 font-medium">{subTitle}</h2>
      <UserData client:only="react" />
    </div>
  </section>
</Layout>
